In [348]:
import pandas as pd
import numpy as np
import os

In [382]:
input_path = r"C:\\Users\\sharm\\OneDrive\\Desktop\\Kishan\\Contractzy\\WebScrapping\\Tutorial\\Financial_Data\\MoneyControl\\Companies\\IT Services & Consulting\\3i Infotech Ltd\\Excel\\Balance-sheet_combined.xlsx"
output_path = r"C:\\Users\\sharm\\OneDrive\\Desktop\\Kishan\\Data\\Balanced_sheet.xlsx"
new_output_path = r"C:\\Users\\sharm\\OneDrive\\Desktop\\Kishan\\Data\\transposed_Balanced_sheet.xlsx"

In [383]:
def reverse_columns_in_groups(df, start_index, group_size=5):
    """
    Reverses columns in groups of a specified size.

    Parameters:
    - df: The dataframe.
    - start_index: The starting index of the columns to reverse.
    - group_size: Number of columns in each group to reverse.
    
    Returns:
    - Updated dataframe with columns reversed in groups.
    """
    cols = df.columns[start_index:]
    reversed_cols = []

    # Reverse columns in groups
    for i in range(0, len(cols), group_size):
        group = cols[i:i + group_size]
        reversed_cols.extend(group[::-1])

    # Combine non-reversed and reversed columns
    new_columns = list(df.columns[:start_index]) + reversed_cols
    return df[new_columns]

In [384]:
# Load the Excel file
df = pd.read_excel(input_path)

# Start index where year columns begin
start_index = 1  # Assuming the first column contains non-year data
reversed_df = reverse_columns_in_groups(df, start_index=start_index)

df = reversed_df
df
# Save the updated DataFrame to a new Excel file
# reversed_df.to_excel(output_path, index=False)
# print(f"Reordered file saved at: {output_path}")

,Balance Sheet of 3i Infotech(in Rs. Cr.),Mar 05,Mar 06,Mar 07,Mar 08,Mar 09,Mar 10,Mar 11,Mar 12,Mar 13,...,Mar 15,Mar 16,Mar 17,Mar 18,Mar 19,Mar 20,Mar 21,Mar 22,Mar 23,Mar 24
0,NaN,12 mths,12 mths,12 mths,12 mths,12 mths,12 mths,12 mths,12 mths,12 mths,...,12 mths,12 mths,12 mths,12 mths,12 mths,12 mths,12 mths,12 mths,12 mths,12 mths
1,EQUITIES AND LIABILITIES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,SHAREHOLDER'S FUNDS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Equity Share Capital,31.00,53.05,56.30,130.54,130.75,168.76,191.99,191.99,571.55,...,603.75,640.80,"1,183.65","1,615.36","1,616.64","1,616.65","1,616.65",167.94,168.47,169.23
4,Total Share Capital,181.00,153.05,156.30,230.54,230.75,268.76,291.99,291.99,636.55,...,668.75,924.48,"1,495.35","1,957.25","1,992.07","2,047.16","2,047.16",167.94,168.47,169.23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,Non-Current Investments Quoted Market Value,--,--,--,--,--,--,--,--,--,...,--,--,--,--,--,--,--,--,--,--
61,Non-Current Investments Unquoted Book Value,86.65,100.94,591.72,"1,204.36","1,455.42","1,724.84","1,969.78","2,019.20","1,533.88",...,"1,432.55","1,215.49","1,236.89","1,127.59","1,167.21","1,199.84","1,219.86","1,252.79","1,320.79",107.93
62,CURRENT INVESTMENTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,Current Investments Quoted Market Value,--,--,--,--,--,--,--,--,--,...,--,--,--,--,--,--,--,--,--,--
64,Current Investments Unquoted Book Value,--,--,--,--,--,--,--,--,--,...,--,12.50,--,--,--,--,--,--,--,--

In [352]:
type_1 = df.iloc[48,1]
print(type_1)
print(__builtins__.type(type_1))

# print(type(type_1))

0.00
<class 'str'>

In [390]:
df.iloc[0,1]

'12 mths'

In [ ]:
df.replace("--",np.nan,inplace=True)
df.replace("0.00",np.nan,inplace=True)

if df.iloc[0,1]:
    df.replace("12 mths",np.nan,inplace=True)

df.tail(20)

,Balance Sheet of 3i Infotech(in Rs. Cr.),Mar 05,Mar 06,Mar 07,Mar 08,Mar 09,Mar 10,Mar 11,Mar 12,Mar 13,...,Mar 15,Mar 16,Mar 17,Mar 18,Mar 19,Mar 20,Mar 21,Mar 22,Mar 23,Mar 24
45,CIF VALUE OF IMPORTS,+,+,+,+,+,+,+,+,+,...,+,+,+,+,+,+,+,+,+,+
46,Raw Materials,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,"Stores, Spares And Loose Tools",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,Trade/Other Goods,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,Capital Goods,NaN,40.14,7.26,NaN,9.78,43.42,9.00,691.04,0.95,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,EXPENDITURE IN FOREIGN EXCHANGE,+,+,+,+,+,+,+,+,+,...,+,+,+,+,+,+,+,+,+,+
51,Expenditure In Foreign Currency,50.16,84.04,103.81,123.21,92.54,20.31,19.76,4.81,1.73,...,111.19,19.70,NaN,6.13,4.73,7.25,NaN,NaN,NaN,NaN
52,REMITTANCES IN FOREIGN CURRENCIES FOR DIVIDENDS,+,+,+,+,+,+,+,+,+,...,+,+,+,+,+,+,+,+,+,+
53,Dividend Remittance In Foreign Currency,0.12,0.23,0.46,0.46,0.69,0.69,0.69,0.69,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,EARNINGS IN FOREIGN EXCHANGE,+,+,+,+,+,+,+,+,+,...,+,+,+,+,+,+,+,+,+,+
55,FOB Value Of Goods,85.61,127.11,173.77,179.65,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,Other Earnings,0.62,0.26,6.89,13.15,148.42,168.69,173.91,358.26,40.60,...,78.55,48.89,NaN,69.42,88.80,111.94,NaN,NaN,NaN,NaN
57,BONUS DETAILS,+,+,+,+,+,+,+,+,+,...,+,+,+,+,+,+,+,+,+,+
58,Bonus Equity Share Capital,20.00,20.00,20.00,84.79,84.79,84.79,84.79,84.79,84.79,...,84.79,84.79,84.79,84.79,84.79,84.79,84.79,8.80,8.80,8.80
59,NON-CURRENT INVESTMENTS,+,+,+,+,+,+,+,+,+,...,+,+,+,+,+,+,+,+,+,+
60,Non-Current Investments Quoted Market Value,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,Non-Current Investments Unquoted Book Value,86.65,100.94,591.72,"1,204.36","1,455.42","1,724.84","1,969.78","2,019.20","1,533.88",...,"1,432.55","1,215.49","1,236.89","1,127.59","1,167.21","1,199.84","1,219.86","1,252.79","1,320.79",107.93
62,CURRENT INVESTMENTS,+,+,+,+,+,+,+,+,+,...,+,+,+,+,+,+,+,+,+,+
63,Current Investments Quoted Market Value,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,Current Investments Unquoted Book Value,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,12.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [355]:
df.replace("+","0.00",inplace=True)
df

,Balance Sheet of 3i Infotech(in Rs. Cr.),Mar 05,Mar 06,Mar 07,Mar 08,Mar 09,Mar 10,Mar 11,Mar 12,Mar 13,...,Mar 15,Mar 16,Mar 17,Mar 18,Mar 19,Mar 20,Mar 21,Mar 22,Mar 23,Mar 24
0,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,EQUITIES AND LIABILITIES,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2,SHAREHOLDER'S FUNDS,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
3,Equity Share Capital,31.00,53.05,56.30,130.54,130.75,168.76,191.99,191.99,571.55,...,603.75,640.80,"1,183.65","1,615.36","1,616.64","1,616.65","1,616.65",167.94,168.47,169.23
4,Total Share Capital,181.00,153.05,156.30,230.54,230.75,268.76,291.99,291.99,636.55,...,668.75,924.48,"1,495.35","1,957.25","1,992.07","2,047.16","2,047.16",167.94,168.47,169.23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,Non-Current Investments Quoted Market Value,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,Non-Current Investments Unquoted Book Value,86.65,100.94,591.72,"1,204.36","1,455.42","1,724.84","1,969.78","2,019.20","1,533.88",...,"1,432.55","1,215.49","1,236.89","1,127.59","1,167.21","1,199.84","1,219.86","1,252.79","1,320.79",107.93
62,CURRENT INVESTMENTS,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
63,Current Investments Quoted Market Value,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,Current Investments Unquoted Book Value,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,12.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [356]:
type_1 = df.iloc[6,15]
print(type_1)
print(__builtins__.type(type_1))

-1,259.07
<class 'str'>

In [357]:
# Loop through each column starting from column 1 (index 1 onwards)
for col in df.columns[1:]:  # Skipping the first column (index 0)
    # Check if there are any string values in the column
    if df[col].dtype == 'object':  # 'object' dtype usually indicates string or mixed types
        print(f"Column '{col}' contains string values.")
        # Convert column to string to safely use .str accessor
        df[col] = df[col].astype(str)
        # Optionally, you can check for specific non-numeric entries like '--', 'N/A', etc.
        non_numeric_values = df[df[col].str.contains(r'[a-zA-Z]', na=False)]
        if not non_numeric_values.empty:
            print(f"Non-numeric values found in column '{col}':")
            print(non_numeric_values)

Column 'Mar 05' contains string values.
Non-numeric values found in column 'Mar 05':
       Balance Sheet of 3i Infotech(in Rs. Cr.) Mar 05 Mar 06 Mar 07 Mar 08  \
0                                          0.00    nan    NaN    NaN    NaN
11                  Other Long Term Liabilities    nan    NaN    NaN    NaN
12                         Long Term Provisions    nan    NaN    NaN    NaN
26                                 Other Assets    nan    NaN    NaN    NaN
30                 Long Term Loans And Advances    nan    NaN    NaN    NaN
34                          Current Investments    nan    NaN    NaN    NaN
46                                Raw Materials    nan    NaN    NaN    NaN
47               Stores, Spares And Loose Tools    nan    NaN    NaN    NaN
48                            Trade/Other Goods    nan    NaN    NaN    NaN
49                                Capital Goods    nan  40.14   7.26    NaN
60  Non-Current Investments Quoted Market Value    nan    NaN    NaN    NaN
63      Current Investments Quoted Market Value    nan    NaN    NaN    NaN
64      Current Investments Unquoted Book Value    nan    NaN    NaN    NaN

   Mar 09 Mar 10  Mar 11  Mar 12  Mar 13  ...    Mar 15 Mar 16 Mar 17 Mar 18  \
0     NaN    NaN     NaN     NaN     NaN  ...       NaN    NaN    NaN    NaN
11    NaN    NaN  155.46  203.23   32.52  ...  1,056.32    NaN    NaN    NaN
12    NaN    NaN     NaN     NaN     NaN  ...       NaN  17.57  12.83  15.02
26    NaN    NaN     NaN     NaN     NaN  ...       NaN    NaN    NaN    NaN
30    NaN    NaN  114.67   87.48  573.63  ...    148.13  82.87  57.51  57.51
34    NaN    NaN     NaN     NaN     NaN  ...       NaN  12.50    NaN    NaN
46    NaN    NaN     NaN     NaN     NaN  ...       NaN    NaN    NaN    NaN
47    NaN    NaN     NaN     NaN     NaN  ...       NaN    NaN    NaN    NaN
48    NaN    NaN     NaN     NaN     NaN  ...       NaN    NaN    NaN    NaN
49   9.78  43.42    9.00  691.04    0.95  ...       NaN    NaN    NaN    NaN
60    NaN    NaN     NaN     NaN     NaN  ...       NaN    NaN    NaN    NaN
63    NaN    NaN     NaN     NaN     NaN  ...       NaN    NaN    NaN    NaN
64    NaN    NaN     NaN     NaN     NaN  ...       NaN  12.50    NaN    NaN

   Mar 19 Mar 20 Mar 21 Mar 22 Mar 23 Mar 24
0     NaN    NaN    NaN    NaN    NaN    NaN
11    NaN  47.54  26.00  52.22  46.83  24.24
12  15.39  15.37  11.21   9.80  10.23  14.04
26    NaN    NaN    NaN    NaN    NaN    NaN
30  40.83  40.83  40.83  40.83  40.83   1.90
34    NaN    NaN    NaN    NaN    NaN    NaN
46    NaN    NaN    NaN    NaN    NaN    NaN
47    NaN    NaN    NaN    NaN    NaN    NaN
48    NaN    NaN    NaN    NaN    NaN    NaN
49    NaN    NaN    NaN    NaN    NaN    NaN
60    NaN    NaN    NaN    NaN    NaN    NaN
63    NaN    NaN    NaN    NaN    NaN    NaN
64    NaN    NaN    NaN    NaN    NaN    NaN

[13 rows x 21 columns]
Column 'Mar 06' contains string values.
Non-numeric values found in column 'Mar 06':
       Balance Sheet of 3i Infotech(in Rs. Cr.) Mar 05 Mar 06 Mar 07 Mar 08  \
0                                          0.00    nan    nan    NaN    NaN
11                  Other Long Term Liabilities    nan    nan    NaN    NaN
12                         Long Term Provisions    nan    nan    NaN    NaN
26                                 Other Assets    nan    nan    NaN    NaN
30                 Long Term Loans And Advances    nan    nan    NaN    NaN
31                     Other Non-Current Assets   0.90    nan    NaN    NaN
34                          Current Investments    nan    nan    NaN    NaN
39                           OtherCurrentAssets   0.08    nan    NaN    NaN
46                                Raw Materials    nan    nan    NaN    NaN
47               Stores, Spares And Loose Tools    nan    nan    NaN    NaN
48                            Trade/Other Goods    nan    nan    NaN    NaN
60  Non-Current Investments Quoted Market Value    nan    nan    NaN    NaN
63      Current Investments Quoted Market Value    nan    nan    NaN    NaN
64      Current Investments Unquoted Book Value    nan    nan    NaN    NaN

   Mar 09 Mar 10  Mar 11  Mar 12  Mar 13  ...    Mar 15  Mar 16  Mar 17  \
0     NaN    NaN     NaN     NaN     NaN  ...       NaN     NaN     NaN
11    NaN    NaN  155.46  203.23   32.52  ...  1,056.32     NaN     NaN
12    NaN    NaN     NaN     NaN     NaN  ...       NaN   17.57   12.83
26    NaN    NaN     NaN     NaN     NaN  ...       NaN     NaN     NaN
30    NaN    NaN  114.67   87.48  573.63  ...    148.13   82.87   57.51
31    NaN    NaN    2.26    0.45    6.15  ...      6.05  165.20  130.33
34    NaN    NaN     NaN     NaN     NaN  ...       NaN   12.50     NaN
39  37.33  15.00   73.46  313.00   30.84  ...     34.94   26.19   35.78
46    NaN    NaN     NaN     NaN     NaN  ...       NaN     NaN     NaN
47    NaN    NaN     NaN     NaN     NaN  ...       NaN     NaN     NaN
48    NaN    NaN     NaN     NaN     NaN  ...       NaN     NaN     NaN
60    NaN    NaN     NaN     NaN     NaN  ...       NaN     NaN     NaN
63    NaN    NaN     NaN     NaN     NaN  ...       NaN     NaN     NaN
64    NaN    NaN     NaN     NaN     NaN  ...       NaN   12.50     NaN

    Mar 18  Mar 19  Mar 20  Mar 21  Mar 22 Mar 23 Mar 24
0      NaN     NaN     NaN     NaN     NaN    NaN    NaN
11     NaN     NaN   47.54   26.00   52.22  46.83  24.24
12   15.02   15.39   15.37   11.21    9.80  10.23  14.04
26     NaN     NaN     NaN     NaN     NaN    NaN    NaN
30   57.51   40.83   40.83   40.83   40.83  40.83   1.90
31  129.57  111.32  128.11  101.45  112.81  77.10  65.62
34     NaN     NaN     NaN     NaN     NaN    NaN    NaN
39   49.76   66.92   80.54   61.08  120.65  85.29  51.60
46     NaN     NaN     NaN     NaN     NaN    NaN    NaN
47     NaN     NaN     NaN     NaN     NaN    NaN    NaN
48     NaN     NaN     NaN     NaN     NaN    NaN    NaN
60     NaN     NaN     NaN     NaN     NaN    NaN    NaN
63     NaN     NaN     NaN     NaN     NaN    NaN    NaN
64     NaN     NaN     NaN     NaN     NaN    NaN    NaN

[14 rows x 21 columns]
Column 'Mar 07' contains string values.
Non-numeric values found in column 'Mar 07':
       Balance Sheet of 3i Infotech(in Rs. Cr.) Mar 05 Mar 06 Mar 07 Mar 08  \
0                                          0.00    nan    nan    nan    NaN
11                  Other Long Term Liabilities    nan    nan    nan    NaN
12                         Long Term Provisions    nan    nan    nan    NaN
26                                 Other Assets    nan    nan    nan    NaN
30                 Long Term Loans And Advances    nan    nan    nan    NaN
31                     Other Non-Current Assets   0.90    nan    nan    NaN
34                          Current Investments    nan    nan    nan    NaN
35                                  Inventories   0.03   0.03    nan    NaN
39                           OtherCurrentAssets   0.08    nan    nan    NaN
46                                Raw Materials    nan    nan    nan    NaN
47               Stores, Spares And Loose Tools    nan    nan    nan    NaN
48                            Trade/Other Goods    nan    nan    nan    NaN
60  Non-Current Investments Quoted Market Value    nan    nan    nan    NaN
63      Current Investments Quoted Market Value    nan    nan    nan    NaN
64      Current Investments Unquoted Book Value    nan    nan    nan    NaN

   Mar 09 Mar 10  Mar 11  Mar 12  Mar 13  ...    Mar 15  Mar 16  Mar 17  \
0     NaN    NaN     NaN     NaN     NaN  ...       NaN     NaN     NaN
11    NaN    NaN  155.46  203.23   32.52  ...  1,056.32     NaN     NaN
12    NaN    NaN     NaN     NaN     NaN  ...       NaN   17.57   12.83
26    NaN    NaN     NaN     NaN     NaN  ...       NaN     NaN     NaN
30    NaN    NaN  114.67   87.48  573.63  ...    148.13   82.87   57.51
31    NaN    NaN    2.26    0.45    6.15  ...      6.05  165.20  130.33
34    NaN    NaN     NaN     NaN     NaN  ...       NaN   12.50     NaN
35    NaN    NaN     NaN     NaN     NaN  ...       NaN    0.37     NaN
39  37.33  15.00   73.46  313.00   30.84  ...     34.94   26.19   35.78
46    NaN    NaN     NaN     NaN     NaN  ...       NaN     NaN     NaN
47    NaN    NaN     NaN     NaN     NaN  ...       NaN     NaN     NaN
48    NaN    NaN     NaN     NaN     NaN  ...       NaN     NaN     NaN
60    NaN    NaN     NaN     NaN     NaN  ...       NaN     NaN     NaN
63    NaN    NaN     NaN     NaN     NaN  ...       NaN     NaN     NaN
64    NaN    NaN     NaN     NaN     NaN  ...       NaN   12.50     NaN

    Mar 18  Mar 19  Mar 20  Mar 21  Mar 22 Mar 23 Mar 24
0      NaN     NaN     NaN     NaN     NaN    NaN    NaN
11     NaN     NaN   47.54   26.00   52.22  46.83  24.24
12   15.02   15.39   15.37   11.21    9.80  10.23  14.04
26     NaN     NaN     NaN     NaN     NaN    NaN    NaN
30   57.51   40.83   40.83   40.83   40.83  40.83   1.90
31  129.57  111.32  128.11  101.45  112.81  77.10  65.62
34     NaN     NaN     NaN     NaN     NaN    NaN    NaN
35     NaN     NaN     NaN     NaN     NaN    NaN    NaN
39   49.76   66.92   80.54   61.08  120.65  85.29  51.60
46     NaN     NaN     NaN     NaN     NaN    NaN    NaN
47     NaN     NaN     NaN     NaN     NaN    NaN    NaN
48     NaN     NaN     NaN     NaN     NaN    NaN    NaN
60     NaN     NaN     NaN     NaN     NaN    NaN    NaN
63     NaN     NaN     NaN     NaN     NaN    NaN    NaN
64     NaN     NaN     NaN     NaN     NaN    NaN    NaN

[15 rows x 21 columns]
Column 'Mar 08' contains string values.
Non-numeric values found in column 'Mar 08':
       Balance Sheet of 3i Infotech(in Rs. Cr.) Mar 05 Mar 06 Mar 07 Mar 08  \
0                                          0.00    nan    nan    nan    nan
11                  Other Long Term Liabilities    nan    nan    nan    nan
12                         Long Term Provisions    nan    nan    nan    nan
26                                 Other Assets    nan    nan    nan    nan
30                 Long Term Loans And Advances    nan    nan    nan    nan
31                     Other Non-Current Assets   0.90    nan    nan    nan
34                          Current Investments    nan    nan    nan    nan
35                                  Inventories   0.03   0.03    nan    nan
39                           OtherCurrentAssets   0.08    nan    nan    nan
46                                Raw Materials    nan    nan    nan    nan
47               Stores, Spares And Loose Tools    nan    nan    nan    nan
48                            Trade/Other Goods    nan    nan    nan    nan
49                                Capital Goods    nan  40.14   7.26    nan
60  Non-Current Investments Quoted Market Value    nan    nan    nan    nan
63      Current Investments Quoted Market Value    nan    nan    nan    nan
64      Current Investments Unquoted Book Value    nan    nan    nan    nan

   Mar 09 Mar 10  Mar 11  Mar 12  Mar 13  ...    Mar 15  Mar 16  Mar 17  \
0     NaN    NaN     NaN     NaN     NaN  ...       NaN     NaN     NaN
11    NaN    NaN  155.46  203.23   32.52  ...  1,056.32     NaN     NaN
12    NaN    NaN     NaN     NaN     NaN  ...       NaN   17.57   12.83
26    NaN    NaN     NaN     NaN     NaN  ...       NaN     NaN     NaN
30    NaN    NaN  114.67   87.48  573.63  ...    148.13   82.87   57.51
31    NaN    NaN    2.26    0.45    6.15  ...      6.05  165.20  130.33
34    NaN    NaN     NaN     NaN     NaN  ...       NaN   12.50     NaN
35    NaN    NaN     NaN     NaN     NaN  ...       NaN    0.37     NaN
39  37.33  15.00   73.46  313.00   30.84  ...     34.94   26.19   35.78
46    NaN    NaN     NaN     NaN     NaN  ...       NaN     NaN     NaN
47    NaN    NaN     NaN     NaN     NaN  ...       NaN     NaN     NaN
48    NaN    NaN     NaN     NaN     NaN  ...       NaN     NaN     NaN
49   9.78  43.42    9.00  691.04    0.95  ...       NaN     NaN     NaN
60    NaN    NaN     NaN     NaN     NaN  ...       NaN     NaN     NaN
63    NaN    NaN     NaN     NaN     NaN  ...       NaN     NaN     NaN
64    NaN    NaN     NaN     NaN     NaN  ...       NaN   12.50     NaN

    Mar 18  Mar 19  Mar 20  Mar 21  Mar 22 Mar 23 Mar 24
0      NaN     NaN     NaN     NaN     NaN    NaN    NaN
11     NaN     NaN   47.54   26.00   52.22  46.83  24.24
12   15.02   15.39   15.37   11.21    9.80  10.23  14.04
26     NaN     NaN     NaN     NaN     NaN    NaN    NaN
30   57.51   40.83   40.83   40.83   40.83  40.83   1.90
31  129.57  111.32  128.11  101.45  112.81  77.10  65.62
34     NaN     NaN     NaN     NaN     NaN    NaN    NaN
35     NaN     NaN     NaN     NaN     NaN    NaN    NaN
39   49.76   66.92   80.54   61.08  120.65  85.29  51.60
46     NaN     NaN     NaN     NaN     NaN    NaN    NaN
47     NaN     NaN     NaN     NaN     NaN    NaN    NaN
48     NaN     NaN     NaN     NaN     NaN    NaN    NaN
49     NaN     NaN     NaN     NaN     NaN    NaN    NaN
60     NaN     NaN     NaN     NaN     NaN    NaN    NaN
63     NaN     NaN     NaN     NaN     NaN    NaN    NaN
64     NaN     NaN     NaN     NaN     NaN    NaN    NaN

[16 rows x 21 columns]
Column 'Mar 09' contains string values.
Non-numeric values found in column 'Mar 09':
       Balance Sheet of 3i Infotech(in Rs. Cr.) Mar 05  Mar 06  Mar 07  \
0                                          0.00    nan     nan     nan
11                  Other Long Term Liabilities    nan     nan     nan
12                         Long Term Provisions    nan     nan     nan
26                                 Other Assets    nan     nan     nan
30                 Long Term Loans And Advances    nan     nan     nan
31                     Other Non-Current Assets   0.90     nan     nan
34                          Current Investments    nan     nan     nan
35                                  Inventories   0.03    0.03     nan
46                                Raw Materials    nan     nan     nan
47               Stores, Spares And Loose Tools    nan     nan     nan
48                            Trade/Other Goods    nan     nan     nan
55                           FOB Value Of Goods  85.61  127.11  173.77
60  Non-Current Investments Quoted Market Value    nan     nan     nan
63      Current Investments Quoted Market Value    nan     nan     nan
64      Current Investments Unquoted Book Value    nan     nan     nan

    Mar 08 Mar 09 Mar 10  Mar 11  Mar 12  Mar 13  ...    Mar 15  Mar 16  \
0      nan    nan    NaN     NaN     NaN     NaN  ...       NaN     NaN
11     nan    nan    NaN  155.46  203.23   32.52  ...  1,056.32     NaN
12     nan    nan    NaN     NaN     NaN     NaN  ...       NaN   17.57
26     nan    nan    NaN     NaN     NaN     NaN  ...       NaN     NaN
30     nan    nan    NaN  114.67   87.48  573.63  ...    148.13   82.87
31     nan    nan    NaN    2.26    0.45    6.15  ...      6.05  165.20
34     nan    nan    NaN     NaN     NaN     NaN  ...       NaN   12.50
35     nan    nan    NaN     NaN     NaN     NaN  ...       NaN    0.37
46     nan    nan    NaN     NaN     NaN     NaN  ...       NaN     NaN
47     nan    nan    NaN     NaN     NaN     NaN  ...       NaN     NaN
48     nan    nan    NaN     NaN     NaN     NaN  ...       NaN     NaN
55  179.65    nan    NaN     NaN     NaN     NaN  ...       NaN     NaN
60     nan    nan    NaN     NaN     NaN     NaN  ...       NaN     NaN
63     nan    nan    NaN     NaN     NaN     NaN  ...       NaN     NaN
64     nan    nan    NaN     NaN     NaN     NaN  ...       NaN   12.50

    Mar 17  Mar 18  Mar 19  Mar 20  Mar 21  Mar 22 Mar 23 Mar 24
0      NaN     NaN     NaN     NaN     NaN     NaN    NaN    NaN
11     NaN     NaN     NaN   47.54   26.00   52.22  46.83  24.24
12   12.83   15.02   15.39   15.37   11.21    9.80  10.23  14.04
26     NaN     NaN     NaN     NaN     NaN     NaN    NaN    NaN
30   57.51   57.51   40.83   40.83   40.83   40.83  40.83   1.90
31  130.33  129.57  111.32  128.11  101.45  112.81  77.10  65.62
34     NaN     NaN     NaN     NaN     NaN     NaN    NaN    NaN
35     NaN     NaN     NaN     NaN     NaN     NaN    NaN    NaN
46     NaN     NaN     NaN     NaN     NaN     NaN    NaN    NaN
47     NaN     NaN     NaN     NaN     NaN     NaN    NaN    NaN
48     NaN     NaN     NaN     NaN     NaN     NaN    NaN    NaN
55     NaN     NaN     NaN     NaN     NaN     NaN    NaN    NaN
60     NaN     NaN     NaN     NaN     NaN     NaN    NaN    NaN
63     NaN     NaN     NaN     NaN     NaN     NaN    NaN    NaN
64     NaN     NaN     NaN     NaN     NaN     NaN    NaN    NaN

[15 rows x 21 columns]
Column 'Mar 10' contains string values.
Non-numeric values found in column 'Mar 10':
       Balance Sheet of 3i Infotech(in Rs. Cr.) Mar 05  Mar 06  Mar 07  \
0                                          0.00    nan     nan     nan
10               Deferred Tax Liabilities [Net]  18.87   22.57    3.54
11                  Other Long Term Liabilities    nan     nan     nan
12                         Long Term Provisions    nan     nan     nan
26                                 Other Assets    nan     nan     nan
30                 Long Term Loans And Advances    nan     nan     nan
31                     Other Non-Current Assets   0.90     nan     nan
34                          Current Investments    nan     nan     nan
35                                  Inventories   0.03    0.03     nan
46                                Raw Materials    nan     nan     nan
47               Stores, Spares And Loose Tools    nan     nan     nan
48                            Trade/Other Goods    nan     nan     nan
55                           FOB Value Of Goods  85.61  127.11  173.77
60  Non-Current Investments Quoted Market Value    nan     nan     nan
63      Current Investments Quoted Market Value    nan     nan     nan
64      Current Investments Unquoted Book Value    nan     nan     nan

    Mar 08 Mar 09 Mar 10  Mar 11  Mar 12  Mar 13  ...    Mar 15  Mar 16  \
0      nan    nan    nan     NaN     NaN     NaN  ...       NaN     NaN
10   13.68  35.01    nan     NaN     NaN     NaN  ...       NaN     NaN
11     nan    nan    nan  155.46  203.23   32.52  ...  1,056.32     NaN
12     nan    nan    nan     NaN     NaN     NaN  ...       NaN   17.57
26     nan    nan    nan     NaN     NaN     NaN  ...       NaN     NaN
30     nan    nan    nan  114.67   87.48  573.63  ...    148.13   82.87
31     nan    nan    nan    2.26    0.45    6.15  ...      6.05  165.20
34     nan    nan    nan     NaN     NaN     NaN  ...       NaN   12.50
35     nan    nan    nan     NaN     NaN     NaN  ...       NaN    0.37
46     nan    nan    nan     NaN     NaN     NaN  ...       NaN     NaN
47     nan    nan    nan     NaN     NaN     NaN  ...       NaN     NaN
48     nan    nan    nan     NaN     NaN     NaN  ...       NaN     NaN
55  179.65    nan    nan     NaN     NaN     NaN  ...       NaN     NaN
60     nan    nan    nan     NaN     NaN     NaN  ...       NaN     NaN
63     nan    nan    nan     NaN     NaN     NaN  ...       NaN     NaN
64     nan    nan    nan     NaN     NaN     NaN  ...       NaN   12.50

    Mar 17  Mar 18  Mar 19  Mar 20  Mar 21  Mar 22 Mar 23 Mar 24
0      NaN     NaN     NaN     NaN     NaN     NaN    NaN    NaN
10     NaN     NaN     NaN     NaN     NaN     NaN    NaN    NaN
11     NaN     NaN     NaN   47.54   26.00   52.22  46.83  24.24
12   12.83   15.02   15.39   15.37   11.21    9.80  10.23  14.04
26     NaN     NaN     NaN     NaN     NaN     NaN    NaN    NaN
30   57.51   57.51   40.83   40.83   40.83   40.83  40.83   1.90
31  130.33  129.57  111.32  128.11  101.45  112.81  77.10  65.62
34     NaN     NaN     NaN     NaN     NaN     NaN    NaN    NaN
35     NaN     NaN     NaN     NaN     NaN     NaN    NaN    NaN
46     NaN     NaN     NaN     NaN     NaN     NaN    NaN    NaN
47     NaN     NaN     NaN     NaN     NaN     NaN    NaN    NaN
48     NaN     NaN     NaN     NaN     NaN     NaN    NaN    NaN
55     NaN     NaN     NaN     NaN     NaN     NaN    NaN    NaN

In [391]:
df.iloc[1:, 1:]

,Mar 05,Mar 06,Mar 07,Mar 08,Mar 09,Mar 10,Mar 11,Mar 12,Mar 13,Mar 14,Mar 15,Mar 16,Mar 17,Mar 18,Mar 19,Mar 20,Mar 21,Mar 22,Mar 23,Mar 24
1,+,+,+,+,+,+,+,+,+,+,+,+,+,+,+,+,+,+,+,+
2,+,+,+,+,+,+,+,+,+,+,+,+,+,+,+,+,+,+,+,+
3,31.00,53.05,56.30,130.54,130.75,168.76,191.99,191.99,571.55,572.64,603.75,640.80,"1,183.65","1,615.36","1,616.64","1,616.65","1,616.65",167.94,168.47,169.23
4,181.00,153.05,156.30,230.54,230.75,268.76,291.99,291.99,636.55,637.64,668.75,924.48,"1,495.35","1,957.25","1,992.07","2,047.16","2,047.16",167.94,168.47,169.23
5,29.91,219.17,305.35,414.45,515.90,626.34,776.25,372.29,397.11,-40.34,"-1,079.11",-477.44,-963.34,"-1,512.72","-1,259.07","-1,128.16",-803.58,681.79,735.67,-81.97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--
61,86.65,100.94,591.72,"1,204.36","1,455.42","1,724.84","1,969.78","2,019.20","1,533.88","1,533.88","1,432.55","1,215.49","1,236.89","1,127.59","1,167.21","1,199.84","1,219.86","1,252.79","1,320.79",107.93
62,+,+,+,+,+,+,+,+,+,+,+,+,+,+,+,+,+,+,+,+
63,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--
64,--,--,--,--,--,--,--,--,--,--,--,12.50,--,--,--,--,--,--,--,--

In [358]:
df.iloc[1:, 1:] = df.iloc[1:, 1:].replace({',': ''}, regex=True).astype(float)
df.dtypes

Balance Sheet of 3i Infotech(in Rs. Cr.)    object
Mar 05                                      object
Mar 06                                      object
Mar 07                                      object
Mar 08                                      object
Mar 09                                      object
Mar 10                                      object
Mar 11                                      object
Mar 12                                      object
Mar 13                                      object
Mar 14                                      object
Mar 15                                      object
Mar 16                                      object
Mar 17                                      object
Mar 18                                      object
Mar 19                                      object
Mar 20                                      object
Mar 21                                      object
Mar 22                                      object
Mar 23                                      object
Mar 24                                      object
dtype: object

In [359]:
type_1 = df.iloc[6,15]
print(type_1)
print(__builtins__.type(type_1))

-1259.07
<class 'float'>

In [360]:
missing_value = df.isnull()
missing_value.tail(20)

,Balance Sheet of 3i Infotech(in Rs. Cr.),Mar 05,Mar 06,Mar 07,Mar 08,Mar 09,Mar 10,Mar 11,Mar 12,Mar 13,...,Mar 15,Mar 16,Mar 17,Mar 18,Mar 19,Mar 20,Mar 21,Mar 22,Mar 23,Mar 24
45,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
46,False,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
47,False,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
48,False,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
49,False,True,False,False,True,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
50,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
51,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,True,True,True,True
52,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
53,False,False,False,False,False,False,False,False,False,True,...,True,True,True,True,True,True,True,True,True,True
54,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
55,False,False,False,False,False,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
56,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,True,True,True,True
57,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
58,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
59,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
60,False,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
61,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
62,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
63,False,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
64,False,True,True,True,True,True,True,True,True,True,...,True,False,True,True,True,True,True,True,True,True

In [361]:
print(missing_value.sum().sum())  # Prints total number of NaN values in the entire DataFrame

308

In [362]:
df.tail(20)

,Balance Sheet of 3i Infotech(in Rs. Cr.),Mar 05,Mar 06,Mar 07,Mar 08,Mar 09,Mar 10,Mar 11,Mar 12,Mar 13,...,Mar 15,Mar 16,Mar 17,Mar 18,Mar 19,Mar 20,Mar 21,Mar 22,Mar 23,Mar 24
45,CIF VALUE OF IMPORTS,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
46,Raw Materials,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,"Stores, Spares And Loose Tools",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,Trade/Other Goods,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,Capital Goods,NaN,40.14,7.26,NaN,9.78,43.42,9.0,691.04,0.95,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,EXPENDITURE IN FOREIGN EXCHANGE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
51,Expenditure In Foreign Currency,50.16,84.04,103.81,123.21,92.54,20.31,19.76,4.81,1.73,...,111.19,19.7,NaN,6.13,4.73,7.25,NaN,NaN,NaN,NaN
52,REMITTANCES IN FOREIGN CURRENCIES FOR DIVIDENDS,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
53,Dividend Remittance In Foreign Currency,0.12,0.23,0.46,0.46,0.69,0.69,0.69,0.69,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,EARNINGS IN FOREIGN EXCHANGE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
55,FOB Value Of Goods,85.61,127.11,173.77,179.65,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,Other Earnings,0.62,0.26,6.89,13.15,148.42,168.69,173.91,358.26,40.6,...,78.55,48.89,NaN,69.42,88.8,111.94,NaN,NaN,NaN,NaN
57,BONUS DETAILS,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
58,Bonus Equity Share Capital,20.0,20.0,20.0,84.79,84.79,84.79,84.79,84.79,84.79,...,84.79,84.79,84.79,84.79,84.79,84.79,84.79,8.8,8.8,8.8
59,NON-CURRENT INVESTMENTS,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
60,Non-Current Investments Quoted Market Value,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,Non-Current Investments Unquoted Book Value,86.65,100.94,591.72,1204.36,1455.42,1724.84,1969.78,2019.2,1533.88,...,1432.55,1215.49,1236.89,1127.59,1167.21,1199.84,1219.86,1252.79,1320.79,107.93
62,CURRENT INVESTMENTS,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
63,Current Investments Quoted Market Value,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,Current Investments Unquoted Book Value,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,12.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [363]:
for index, row in df.iterrows():
    # Skip the first column (financial term) and check for NaN values in the rest of the row
    nan_count = row[1:].isnull().sum()  # Check for NaN from the second column onward
    total_length = len(row[1:])  # Get the total length of the row (excluding the first column)
    
    if nan_count > 0:
        print(f"Financial Term: {row[0]} - NaN values: {nan_count} out of {total_length} columns")

df.to_excel(output_path)

Financial Term: Deferred Tax Liabilities [Net] - NaN values: 15 out of 20 columns
Financial Term: Other Long Term Liabilities - NaN values: 10 out of 20 columns
Financial Term: Long Term Provisions - NaN values: 11 out of 20 columns
Financial Term: Short Term Borrowings - NaN values: 1 out of 20 columns
Financial Term: Intangible Assets - NaN values: 3 out of 20 columns
Financial Term: Capital Work-In-Progress - NaN values: 14 out of 20 columns
Financial Term: Other Assets - NaN values: 20 out of 20 columns
Financial Term: Deferred Tax Assets [Net] - NaN values: 9 out of 20 columns
Financial Term: Long Term Loans And Advances - NaN values: 6 out of 20 columns
Financial Term: Other Non-Current Assets - NaN values: 5 out of 20 columns
Financial Term: Current Investments - NaN values: 19 out of 20 columns
Financial Term: Inventories - NaN values: 17 out of 20 columns
Financial Term: Short Term Loans And Advances - NaN values: 5 out of 20 columns
Financial Term: OtherCurrentAssets - NaN values: 3 out of 20 columns
Financial Term: Raw Materials - NaN values: 20 out of 20 columns
Financial Term: Stores, Spares And Loose Tools - NaN values: 20 out of 20 columns
Financial Term: Trade/Other Goods - NaN values: 20 out of 20 columns
Financial Term: Capital Goods - NaN values: 13 out of 20 columns
Financial Term: Expenditure In Foreign Currency - NaN values: 5 out of 20 columns
Financial Term: Dividend Remittance In Foreign Currency - NaN values: 12 out of 20 columns
Financial Term: FOB Value Of Goods - NaN values: 16 out of 20 columns
Financial Term: Other Earnings - NaN values: 5 out of 20 columns
Financial Term: Non-Current Investments Quoted Market Value - NaN values: 20 out of 20 columns
Financial Term: Current Investments Quoted Market Value - NaN values: 20 out of 20 columns
Financial Term: Current Investments Unquoted Book Value - NaN values: 19 out of 20 columns

C:\Users\sharm\AppData\Local\Temp\ipykernel_18096\1491630061.py:7: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(f"Financial Term: {row[0]} - NaN values: {nan_count} out of {total_length} columns")

In [364]:
for column in missing_value.columns.values.tolist():
    # print(column)
    print(missing_value[column].value_counts())
    print("")

Balance Sheet of 3i Infotech(in Rs. Cr.)
False    65
Name: count, dtype: int64

Mar 05
False    53
True     12
Name: count, dtype: int64

Mar 06
False    52
True     13
Name: count, dtype: int64

Mar 07
False    51
True     14
Name: count, dtype: int64

Mar 08
False    50
True     15
Name: count, dtype: int64

Mar 09
False    51
True     14
Name: count, dtype: int64

Mar 10
False    50
True     15
Name: count, dtype: int64

Mar 11
False    52
True     13
Name: count, dtype: int64

Mar 12
False    52
True     13
Name: count, dtype: int64

Mar 13
False    51
True     14
Name: count, dtype: int64

Mar 14
False    50
True     15
Name: count, dtype: int64

Mar 15
False    50
True     15
Name: count, dtype: int64

Mar 16
False    52
True     13
Name: count, dtype: int64

Mar 17
False    47
True     18
Name: count, dtype: int64

Mar 18
False    49
True     16
Name: count, dtype: int64

Mar 19
False    49
True     16
Name: count, dtype: int64

Mar 20
False    49
True     16
Name: count, dtype: int64

Mar 21
False    46
True     19
Name: count, dtype: int64

Mar 22
False    46
True     19
Name: count, dtype: int64

Mar 23
False    46
True     19
Name: count, dtype: int64

Mar 24
False    46
True     19
Name: count, dtype: int64

In [365]:
df = df.iloc[1:,:]
df

,Balance Sheet of 3i Infotech(in Rs. Cr.),Mar 05,Mar 06,Mar 07,Mar 08,Mar 09,Mar 10,Mar 11,Mar 12,Mar 13,...,Mar 15,Mar 16,Mar 17,Mar 18,Mar 19,Mar 20,Mar 21,Mar 22,Mar 23,Mar 24
1,EQUITIES AND LIABILITIES,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,SHAREHOLDER'S FUNDS,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Equity Share Capital,31.0,53.05,56.3,130.54,130.75,168.76,191.99,191.99,571.55,...,603.75,640.8,1183.65,1615.36,1616.64,1616.65,1616.65,167.94,168.47,169.23
4,Total Share Capital,181.0,153.05,156.3,230.54,230.75,268.76,291.99,291.99,636.55,...,668.75,924.48,1495.35,1957.25,1992.07,2047.16,2047.16,167.94,168.47,169.23
5,Reserves and Surplus,29.91,219.17,305.35,414.45,515.9,626.34,776.25,372.29,397.11,...,-1079.11,-477.44,-963.34,-1512.72,-1259.07,-1128.16,-803.58,681.79,735.67,-81.97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,Non-Current Investments Quoted Market Value,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,Non-Current Investments Unquoted Book Value,86.65,100.94,591.72,1204.36,1455.42,1724.84,1969.78,2019.2,1533.88,...,1432.55,1215.49,1236.89,1127.59,1167.21,1199.84,1219.86,1252.79,1320.79,107.93
62,CURRENT INVESTMENTS,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
63,Current Investments Quoted Market Value,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,Current Investments Unquoted Book Value,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,12.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [366]:
import pandas as pd

# Assuming you already have a DataFrame (df) with your data
high_null_values = []
less_null_values = []

# Iterate through each row (excluding the first column, which contains the row names)
for index, row in df.iterrows():
    # Count the number of null values in the row (excluding the 0th column)
    null_count = row[1:].isnull().sum()

    # Check if the null count is greater than 10
    if null_count > 10:
        high_null_values.append(row[0])  # Add the row name (0th column) to high_null_values list
    # Check if the null count is greater than or equal to 1 but less than or equal to 10
    elif null_count >= 1 and null_count <= 10:
        less_null_values.append(row[0])  # Add the row name (0th column) to less_null_values list

# Print the results
print("Rows with more than 10 null values:", high_null_values)
print("Rows with 1 to 10 null values:", less_null_values)
print(len(high_null_values))
print(len(less_null_values))
print(len(df))

Rows with more than 10 null values: ['Deferred Tax Liabilities [Net]', 'Long Term Provisions', 'Capital Work-In-Progress', 'Other Assets', 'Current Investments', 'Inventories', 'Raw Materials', 'Stores, Spares And Loose Tools', 'Trade/Other Goods', 'Capital Goods', 'Dividend Remittance In Foreign Currency', 'FOB Value Of Goods', 'Non-Current Investments Quoted Market Value', 'Current Investments Quoted Market Value', 'Current Investments Unquoted Book Value']
Rows with 1 to 10 null values: ['Other Long Term Liabilities', 'Short Term Borrowings', 'Intangible Assets', 'Deferred Tax Assets [Net]', 'Long Term Loans And Advances', 'Other Non-Current Assets', 'Short Term Loans And Advances', 'OtherCurrentAssets', 'Expenditure In Foreign Currency', 'Other Earnings']
15
10
64

C:\Users\sharm\AppData\Local\Temp\ipykernel_18096\4111648416.py:14: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  high_null_values.append(row[0])  # Add the row name (0th column) to high_null_values list
C:\Users\sharm\AppData\Local\Temp\ipykernel_18096\4111648416.py:17: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  less_null_values.append(row[0])  # Add the row name (0th column) to less_null_values list

In [367]:
df.head(20)

,Balance Sheet of 3i Infotech(in Rs. Cr.),Mar 05,Mar 06,Mar 07,Mar 08,Mar 09,Mar 10,Mar 11,Mar 12,Mar 13,...,Mar 15,Mar 16,Mar 17,Mar 18,Mar 19,Mar 20,Mar 21,Mar 22,Mar 23,Mar 24
1,EQUITIES AND LIABILITIES,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,SHAREHOLDER'S FUNDS,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Equity Share Capital,31.0,53.05,56.3,130.54,130.75,168.76,191.99,191.99,571.55,...,603.75,640.8,1183.65,1615.36,1616.64,1616.65,1616.65,167.94,168.47,169.23
4,Total Share Capital,181.0,153.05,156.3,230.54,230.75,268.76,291.99,291.99,636.55,...,668.75,924.48,1495.35,1957.25,1992.07,2047.16,2047.16,167.94,168.47,169.23
5,Reserves and Surplus,29.91,219.17,305.35,414.45,515.9,626.34,776.25,372.29,397.11,...,-1079.11,-477.44,-963.34,-1512.72,-1259.07,-1128.16,-803.58,681.79,735.67,-81.97
6,Total Reserves and Surplus,29.91,219.17,305.35,414.45,515.9,626.34,776.25,372.29,397.11,...,-953.61,-477.44,-963.34,-1512.72,-1259.07,-1128.16,-803.58,681.79,735.67,-81.97
7,Total Shareholders Funds,210.92,372.22,461.65,644.98,746.65,895.1,1068.24,664.28,1033.66,...,-284.86,730.72,532.01,444.53,733.0,919.0,1243.58,849.73,904.14,87.26
8,NON-CURRENT LIABILITIES,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,Long Term Borrowings,130.67,294.74,533.43,1240.1,1408.81,1429.63,1038.82,1693.57,1958.49,...,1995.76,707.73,717.89,613.04,436.72,309.1,91.05,44.65,41.51,38.79
10,Deferred Tax Liabilities [Net],18.87,22.57,3.54,13.68,35.01,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Other Long Term Liabilities,NaN,NaN,NaN,NaN,NaN,NaN,155.46,203.23,32.52,...,1056.32,NaN,NaN,NaN,NaN,47.54,26.0,52.22,46.83,24.24
12,Long Term Provisions,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,17.57,12.83,15.02,15.39,15.37,11.21,9.8,10.23,14.04
13,Total Non-Current Liabilities,149.54,317.31,536.96,1253.77,1443.82,1429.63,1194.28,1896.8,1991.01,...,3052.08,725.3,730.72,628.06,452.11,372.01,128.26,106.67,98.57,77.07
14,CURRENT LIABILITIES,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,Short Term Borrowings,11.19,20.64,12.59,22.01,112.17,178.47,509.29,216.1,6.0,...,140.16,11.69,11.33,11.34,12.13,13.08,12.81,37.02,7.25,NaN
16,Trade Payables,50.52,49.71,68.31,72.3,154.62,102.35,122.49,257.88,147.57,...,155.32,122.94,91.39,93.96,66.96,42.34,53.06,56.02,80.72,92.59
17,Other Current Liabilities,14.0,16.09,12.97,20.0,145.62,184.0,318.03,172.26,804.76,...,605.61,1191.35,1118.09,1119.43,1147.08,1183.24,1105.29,1127.32,1097.23,236.61
18,Short Term Provisions,10.9,25.35,39.24,56.46,54.64,55.56,57.82,26.47,20.04,...,21.54,3.05,2.3,1.9,1.95,1.78,1.16,3.7,3.67,3.92
19,Total Current Liabilities,86.6,111.78,133.11,170.76,467.05,520.38,1007.63,672.71,978.37,...,922.63,1329.03,1223.11,1226.63,1228.12,1240.44,1172.32,1224.06,1188.87,333.12
20,Total Capital And Liabilities,447.06,801.31,1131.73,2069.52,2657.52,2845.11,3270.15,3578.55,4003.04,...,3723.35,2501.37,2485.84,2344.48,2458.06,2576.27,2563.05,2180.46,2191.58,497.45

In [368]:

semi_final_path  = r"C:\\Users\\sharm\\OneDrive\\Desktop\\Kishan\\Data\\semi_final_sheet.xlsx"
# Iterate through the DataFrame and delete rows with names in high_null_values
df_cleaned = df[~df.iloc[:, 0].isin(high_null_values)]

# Reset the row index after removing the rows
df_cleaned = df_cleaned.reset_index(drop=True)
df = df_cleaned
df_cleaned.to_excel(semi_final_path, index=False)
# Print the cleaned DataFrame
print(df_cleaned)

           Balance Sheet of 3i Infotech(in Rs. Cr.)  Mar 05  Mar 06   Mar 07  \
0                          EQUITIES AND LIABILITIES     0.0     0.0      0.0
1                               SHAREHOLDER'S FUNDS     0.0     0.0      0.0
2                              Equity Share Capital    31.0   53.05     56.3
3                               Total Share Capital   181.0  153.05    156.3
4                              Reserves and Surplus   29.91  219.17   305.35
5                        Total Reserves and Surplus   29.91  219.17   305.35
6                          Total Shareholders Funds  210.92  372.22   461.65
7                           NON-CURRENT LIABILITIES     0.0     0.0      0.0
8                              Long Term Borrowings  130.67  294.74   533.43
9                       Other Long Term Liabilities     NaN     NaN      NaN
10                    Total Non-Current Liabilities  149.54  317.31   536.96
11                              CURRENT LIABILITIES     0.0     0.0      0.0
12                            Short Term Borrowings   11.19   20.64    12.59
13                                   Trade Payables   50.52   49.71    68.31
14                        Other Current Liabilities    14.0   16.09    12.97
15                            Short Term Provisions    10.9   25.35    39.24
16                        Total Current Liabilities    86.6  111.78   133.11
17                    Total Capital And Liabilities  447.06  801.31  1131.73
18                                           ASSETS     0.0     0.0      0.0
19                               NON-CURRENT ASSETS     0.0     0.0      0.0
20                                  Tangible Assets   13.35   -9.63    41.55
21                                Intangible Assets  151.79  216.77    83.26
22                                     Fixed Assets  173.06  209.38   137.79
23                          Non-Current Investments   86.65  100.94   591.72
24                        Deferred Tax Assets [Net]   18.85   21.72    26.83
25                     Long Term Loans And Advances     NaN     NaN      NaN
26                         Other Non-Current Assets     0.9     NaN      NaN
27                         Total Non-Current Assets  279.45  332.04   756.35
28                                   CURRENT ASSETS     0.0     0.0      0.0
29                                Trade Receivables   57.59  108.35   109.67
30                        Cash And Cash Equivalents    9.37  249.46    65.17
31                    Short Term Loans And Advances  100.54  111.43   200.54
32                               OtherCurrentAssets    0.08     NaN      NaN
33                             Total Current Assets   167.6  469.27   375.38
34                                     Total Assets  447.06  801.31  1131.73
35                     OTHER ADDITIONAL INFORMATION     0.0     0.0      0.0
36              CONTINGENT LIABILITIES, COMMITMENTS     0.0     0.0      0.0
37                           Contingent Liabilities    6.17   13.16    52.47
38                             CIF VALUE OF IMPORTS     0.0     0.0      0.0
39                  EXPENDITURE IN FOREIGN EXCHANGE     0.0     0.0      0.0
40                  Expenditure In Foreign Currency   50.16   84.04   103.81
41  REMITTANCES IN FOREIGN CURRENCIES FOR DIVIDENDS     0.0     0.0      0.0
42                     EARNINGS IN FOREIGN EXCHANGE     0.0     0.0      0.0
43                                   Other Earnings    0.62    0.26     6.89
44                                    BONUS DETAILS     0.0     0.0      0.0
45                       Bonus Equity Share Capital    20.0    20.0     20.0
46                          NON-CURRENT INVESTMENTS     0.0     0.0      0.0
47      Non-Current Investments Unquoted Book Value   86.65  100.94   591.72
48                              CURRENT INVESTMENTS     0.0     0.0      0.0

     Mar 08   Mar 09   Mar 10   Mar 11   Mar 12   Mar 13  ...   Mar 15  \
0       0.0      0.0      0.0      0.0      0.0      0.0  ...      0.0
1       0.0      0.0      0.0      0.0      0.0      0.0  ...      0.0
2    130.54   130.75   168.76   191.99   191.99   571.55  ...   603.75
3    230.54   230.75   268.76   291.99   291.99   636.55  ...   668.75
4    414.45    515.9   626.34   776.25   372.29   397.11  ... -1079.11
5    414.45    515.9   626.34   776.25   372.29   397.11  ...  -953.61
6    644.98   746.65    895.1  1068.24   664.28  1033.66  ...  -284.86
7       0.0      0.0      0.0      0.0      0.0      0.0  ...      0.0
8    1240.1  1408.81  1429.63  1038.82  1693.57  1958.49  ...  1995.76
9       NaN      NaN      NaN   155.46   203.23    32.52  ...  1056.32
10  1253.77  1443.82  1429.63  1194.28   1896.8  1991.01  ...  3052.08
11      0.0      0.0      0.0      0.0      0.0      0.0  ...      0.0
12    22.01   112.17   178.47   509.29    216.1      6.0  ...   140.16
13     72.3   154.62   102.35   122.49   257.88   147.57  ...   155.32
14     20.0   145.62    184.0   318.03   172.26   804.76  ...   605.61
15    56.46    54.64    55.56    57.82    26.47    20.04  ...    21.54
16   170.76   467.05   520.38  1007.63   672.71   978.37  ...   922.63
17  2069.52  2657.52  2845.11  3270.15  3578.55  4003.04  ...  3723.35
18      0.0      0.0      0.0      0.0      0.0      0.0  ...      0.0
19      0.0      0.0      0.0      0.0      0.0      0.0  ...      0.0
20     45.2   219.62    22.64   120.57   307.77    275.3  ...   251.19
21   139.31   160.65   207.21    97.26   490.86  1226.67  ...  1112.08
22   249.38   452.16   231.23   217.83   798.63  1534.68  ...  1363.27
23  1204.36  1455.42  1724.84  1969.78   2019.0  1533.88  ...  1432.55
24    38.39    59.65    92.35   103.66   103.66   103.66  ...   121.33
25      NaN      NaN      NaN   114.67    87.48   573.63  ...   148.13
26      NaN      NaN      NaN     2.26     0.45     6.15  ...     6.05
27  1492.13  1967.23  2048.42   2408.2  3009.22   3752.0  ...  3071.33
28      0.0      0.0      0.0      0.0      0.0      0.0  ...      0.0
29   130.01   136.41   250.07   196.84    82.05    97.42  ...   575.19
30    37.06    99.15    44.74   108.86    40.26    13.87  ...    12.34
31   410.32    417.4   486.88   482.79   134.02   108.91  ...    29.55
32      NaN    37.33     15.0    73.46    313.0    30.84  ...    34.94
33    577.4   690.29   796.69   861.95   569.33   251.04  ...   652.02
34  2069.52  2657.52  2845.11  3270.15  3578.55  4003.04  ...  3723.35
35      0.0      0.0      0.0      0.0      0.0      0.0  ...      0.0
36      0.0      0.0      0.0      0.0      0.0      0.0  ...      0.0
37    16.92    88.77    28.53   747.78    518.2   403.73  ...   396.09
38      0.0      0.0      0.0      0.0      0.0      0.0  ...      0.0
39      0.0      0.0      0.0      0.0      0.0      0.0  ...      0.0
40   123.21    92.54    20.31    19.76     4.81     1.73  ...   111.19
41      0.0      0.0      0.0      0.0      0.0      0.0  ...      0.0
42      0.0      0.0      0.0      0.0      0.0      0.0  ...      0.0
43    13.15   148.42   168.69   173.91   358.26     40.6  ...    78.55
44      0.0      0.0      0.0      0.0      0.0      0.0  ...      0.0
45    84.79    84.79    84.79    84.79    84.79    84.79  ...    84.79
46      0.0      0.0      0.0      0.0      0.0      0.0  ...      0.0
47  1204.36  1455.42  1724.84  1969.78   2019.2  1533.88  ...  1432.55
48      0.0      0.0      0.0      0.0      0.0      0.0  ...      0.0

     Mar 16   Mar 17   Mar 18   Mar 19   Mar 20   Mar 21   Mar 22   Mar 23  \
0       0.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0
1       0.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0
2     640.8  1183.65  1615.36  1616.64  1616.65  1616.65   167.94   168.47
3    924.48  1495.35  1957.25  1992.07  2047.16  2047.16   167.94   168.47
4   -477.44  -963.34 -1512.72 -1259.07 -1128.16  -803.58   681.79   735.67
5   -477.44  -963.34 -1512.72 -1259.07 -1128.16  -803.58   681.79   735.67
6    730.72   532.01   444.53    733.0    919.0  1243.58   849.73   904.14
7       0.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0
8    707.73   717.89   613.04   436.72    309.1    91.05    44.65    41.51
9       NaN      NaN      NaN      NaN    47.54     26.0    52.22    46.83
10    725.3   730.72   628.06   452.11   372.01   128.26   106.67    98.57
11      0.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0
12    11.69    11.33    11.34    12.13    13.08    12.81    37.02     7.25
13   122.94    91.39    93.96    66.96    42.34    53.06    56.02    80.72
14  1191.35  1118.09  1119.43  1147.08  1183.24  1105.29  1127.32  1097.23
15     3.05      2.3      1.9     1.95     1.78     1.16      3.7     3.67
16  1329.03  1223.11  1226.63  1228.12  1240.44  1172.32  1224.06  1188.87
17  2501.37  2485.84  2344.48  2458.06  2576.27  2563.05  2180.46  2191.58
18      0.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0
19      0.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0
20   147.43   142.48   140.95   138.64    182.6    78.34   108.05   169.08
21   226.73   225.81    225.3   224.66   224.07      NaN      NaN      NaN
22   374.16   368.29   366.25    363.3   406.67    78.34    116.1   210.89
23  1215.49  1236.89  1127.59  1167.21  1199.84  1219.86  1252.79  1320.79
24      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
25    82.87    57.51    57.51    40.83    40.83    40.83    40.83    40.83
26    165.2   130.33   129.57   111.32   128.11   101.45   112.81     77.1
27  1837.72  1793.02  1680.92  1682.66  1775.45  1440.48  1522.53  1649.61
28      0.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0
29   603.32   560.41   580.71    629.0   653.04   423.96   451.13   416.17
30    21.18    96.55    32.95    79.47    67.24   637.53    86.15    40.51
31     0.09     0.08     0.14     0.01      NaN      NaN      NaN      NaN
32    26.19    35.78    49.76    66.92    80.54    61.08   120.65    85.29
33   663.65   692.82   663.56    775.4   800.82  1122.57   657.93   541.97
34  2501.37  2485.84  2344.48  2458.06  2576.27  2563.05  2180.46  2191.58
35      0.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0
36      0.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0
37   392.46   370.51   409.96   419.37   347.86   350.83   355.17   220.29
38      0.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0
39      0.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0
40     19.7      NaN     6.13     4.73     7.25      NaN      NaN      NaN
41      0.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0
42      0.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0
43    48.89      NaN    69.42     88.8   111.94      NaN      NaN      NaN
44      0.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0
45    84.79    84.79    84.79    84.79    84.79    84.79      8.8      8.8
46      0.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0
47  1215.49  1236.89  1127.59  1167.21  1199.84  1219.86  1252.79  1320.79
48      0.0      0.0      0.0      0.0      0.0      0.0      0.0      0.0

    Mar 24
0      0.0
1      0.0
2   169.23
3   169.23
4   -81.97
5   -81.97
6    87.26
7      0.0
8    38.79
9    24.24
10   77.07
11     0.0
12     NaN
13   92.59
14  236.61
15    3.92
16  333.12
17  497.45
18     0.0
19     0.0
20  142.31
21   20.52
22  169.11
23  107.93
24     NaN
25     1.9
26   65.62
27  344.56
28     0.0
29   72.54
30   28.75
31     NaN
32    51.6
33  152.89
34  497.45
35     0.0
36     0.0
37  193.05
38     0.0
39     0.0
40     NaN
41     0.0
42     0.0
43     NaN
44     0.0
45     8.8
46     0.0
47  107.93
48     0.0

[49 rows x 21 columns]

In [369]:
missing_value = df.isnull()
missing_value.tail(20)

,Balance Sheet of 3i Infotech(in Rs. Cr.),Mar 05,Mar 06,Mar 07,Mar 08,Mar 09,Mar 10,Mar 11,Mar 12,Mar 13,...,Mar 15,Mar 16,Mar 17,Mar 18,Mar 19,Mar 20,Mar 21,Mar 22,Mar 23,Mar 24
29,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
30,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
31,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,True,True,True,True
32,False,False,True,True,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
33,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
34,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
35,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
36,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
37,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
38,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
39,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
40,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,True,True,True,True
41,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
42,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
43,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,True,True,True,True
44,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
45,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
46,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
47,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
48,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [370]:
for column in missing_value.columns.values.tolist():
    # print(column)
    print(missing_value[column].value_counts())
    print("")

Balance Sheet of 3i Infotech(in Rs. Cr.)
False    49
Name: count, dtype: int64

Mar 05
False    47
True      2
Name: count, dtype: int64

Mar 06
False    45
True      4
Name: count, dtype: int64

Mar 07
False    45
True      4
Name: count, dtype: int64

Mar 08
False    45
True      4
Name: count, dtype: int64

Mar 09
False    46
True      3
Name: count, dtype: int64

Mar 10
False    46
True      3
Name: count, dtype: int64

Mar 11
False    49
Name: count, dtype: int64

Mar 12
False    49
Name: count, dtype: int64

Mar 13
False    49
Name: count, dtype: int64

Mar 14
False    49
Name: count, dtype: int64

Mar 15
False    49
Name: count, dtype: int64

Mar 16
False    47
True      2
Name: count, dtype: int64

Mar 17
False    45
True      4
Name: count, dtype: int64

Mar 18
False    47
True      2
Name: count, dtype: int64

Mar 19
False    47
True      2
Name: count, dtype: int64

Mar 20
False    47
True      2
Name: count, dtype: int64

Mar 21
False    44
True      5
Name: count, dtype: int64

Mar 22
False    44
True      5
Name: count, dtype: int64

Mar 23
False    44
True      5
Name: count, dtype: int64

Mar 24
False    44
True      5
Name: count, dtype: int64

In [371]:
df

,Balance Sheet of 3i Infotech(in Rs. Cr.),Mar 05,Mar 06,Mar 07,Mar 08,Mar 09,Mar 10,Mar 11,Mar 12,Mar 13,...,Mar 15,Mar 16,Mar 17,Mar 18,Mar 19,Mar 20,Mar 21,Mar 22,Mar 23,Mar 24
0,EQUITIES AND LIABILITIES,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,SHAREHOLDER'S FUNDS,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Equity Share Capital,31.0,53.05,56.3,130.54,130.75,168.76,191.99,191.99,571.55,...,603.75,640.8,1183.65,1615.36,1616.64,1616.65,1616.65,167.94,168.47,169.23
3,Total Share Capital,181.0,153.05,156.3,230.54,230.75,268.76,291.99,291.99,636.55,...,668.75,924.48,1495.35,1957.25,1992.07,2047.16,2047.16,167.94,168.47,169.23
4,Reserves and Surplus,29.91,219.17,305.35,414.45,515.9,626.34,776.25,372.29,397.11,...,-1079.11,-477.44,-963.34,-1512.72,-1259.07,-1128.16,-803.58,681.79,735.67,-81.97
5,Total Reserves and Surplus,29.91,219.17,305.35,414.45,515.9,626.34,776.25,372.29,397.11,...,-953.61,-477.44,-963.34,-1512.72,-1259.07,-1128.16,-803.58,681.79,735.67,-81.97
6,Total Shareholders Funds,210.92,372.22,461.65,644.98,746.65,895.1,1068.24,664.28,1033.66,...,-284.86,730.72,532.01,444.53,733.0,919.0,1243.58,849.73,904.14,87.26
7,NON-CURRENT LIABILITIES,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,Long Term Borrowings,130.67,294.74,533.43,1240.1,1408.81,1429.63,1038.82,1693.57,1958.49,...,1995.76,707.73,717.89,613.04,436.72,309.1,91.05,44.65,41.51,38.79
9,Other Long Term Liabilities,NaN,NaN,NaN,NaN,NaN,NaN,155.46,203.23,32.52,...,1056.32,NaN,NaN,NaN,NaN,47.54,26.0,52.22,46.83,24.24
10,Total Non-Current Liabilities,149.54,317.31,536.96,1253.77,1443.82,1429.63,1194.28,1896.8,1991.01,...,3052.08,725.3,730.72,628.06,452.11,372.01,128.26,106.67,98.57,77.07
11,CURRENT LIABILITIES,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,Short Term Borrowings,11.19,20.64,12.59,22.01,112.17,178.47,509.29,216.1,6.0,...,140.16,11.69,11.33,11.34,12.13,13.08,12.81,37.02,7.25,NaN
13,Trade Payables,50.52,49.71,68.31,72.3,154.62,102.35,122.49,257.88,147.57,...,155.32,122.94,91.39,93.96,66.96,42.34,53.06,56.02,80.72,92.59
14,Other Current Liabilities,14.0,16.09,12.97,20.0,145.62,184.0,318.03,172.26,804.76,...,605.61,1191.35,1118.09,1119.43,1147.08,1183.24,1105.29,1127.32,1097.23,236.61
15,Short Term Provisions,10.9,25.35,39.24,56.46,54.64,55.56,57.82,26.47,20.04,...,21.54,3.05,2.3,1.9,1.95,1.78,1.16,3.7,3.67,3.92
16,Total Current Liabilities,86.6,111.78,133.11,170.76,467.05,520.38,1007.63,672.71,978.37,...,922.63,1329.03,1223.11,1226.63,1228.12,1240.44,1172.32,1224.06,1188.87,333.12
17,Total Capital And Liabilities,447.06,801.31,1131.73,2069.52,2657.52,2845.11,3270.15,3578.55,4003.04,...,3723.35,2501.37,2485.84,2344.48,2458.06,2576.27,2563.05,2180.46,2191.58,497.45
18,ASSETS,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,NON-CURRENT ASSETS,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20,Tangible Assets,13.35,-9.63,41.55,45.2,219.62,22.64,120.57,307.77,275.3,...,251.19,147.43,142.48,140.95,138.64,182.6,78.34,108.05,169.08,142.31
21,Intangible Assets,151.79,216.77,83.26,139.31,160.65,207.21,97.26,490.86,1226.67,...,1112.08,226.73,225.81,225.3,224.66,224.07,NaN,NaN,NaN,20.52
22,Fixed Assets,173.06,209.38,137.79,249.38,452.16,231.23,217.83,798.63,1534.68,...,1363.27,374.16,368.29,366.25,363.3,406.67,78.34,116.1,210.89,169.11
23,Non-Current Investments,86.65,100.94,591.72,1204.36,1455.42,1724.84,1969.78,2019.0,1533.88,...,1432.55,1215.49,1236.89,1127.59,1167.21,1199.84,1219.86,1252.79,1320.79,107.93
24,Deferred Tax Assets [Net],18.85,21.72,26.83,38.39,59.65,92.35,103.66,103.66,103.66,...,121.33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Long Term Loans And Advances,NaN,NaN,NaN,NaN,NaN,NaN,114.67,87.48,573.63,...,148.13,82.87,57.51,57.51,40.83,40.83,40.83,40.83,40.83,1.9
26,Other Non-Current Assets,0.9,NaN,NaN,NaN,NaN,NaN,2.26,0.45,6.15,...,6.05,165.2,130.33,129.57,111.32,128.11,101.45,112.81,77.1,65.62
27,Total Non-Current Assets,279.45,332.04,756.35,1492.13,1967.23,2048.42,2408.2,3009.22,3752.0,...,3071.33,1837.72,1793.02,1680.92,1682.66,1775.45,1440.48,1522.53,1649.61,344.56
28,CURRENT ASSETS,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29,Trade Receivables,57.59,108.35,109.67,130.01,136.41,250.07,196.84,82.05,97.42,...,575.19,603.32,560.41,580.71,629.0,653.04,423.96,451.13,416.17,72.54
30,Cash And Cash Equivalents,9.37,249.46,65.17,37.06,99.15,44.74,108.86,40.26,13.87,...,12.34,21.18,96.55,32.95,79.47,67.24,637.53,86.15,40.51,28.75
31,Short Term Loans And Advances,100.54,111.43,200.54,410.32,417.4,486.88,482.79,134.02,108.91,...,29.55,0.09,0.08,0.14,0.01,NaN,NaN,NaN,NaN,NaN
32,OtherCurrentAssets,0.08,NaN,NaN,NaN,37.33,15.0,73.46,313.0,30.84,...,34.94,26.19,35.78,49.76,66.92,80.54,61.08,120.65,85.29,51.6
33,Total Current Assets,167.6,469.27,375.38,577.4,690.29,796.69,861.95,569.33,251.04,...,652.02,663.65,692.82,663.56,775.4,800.82,1122.57,657.93,541.97,152.89
34,Total Assets,447.06,801.31,1131.73,2069.52,2657.52,2845.11,3270.15,3578.55,4003.04,...,3723.35,2501.37,2485.84,2344.48,2458.06,2576.27,2563.05,2180.46,2191.58,497.45
35,OTHER ADDITIONAL INFORMATION,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
36,"CONTINGENT LIABILITIES, COMMITMENTS",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
37,Contingent Liabilities,6.17,13.16,52.47,16.92,88.77,28.53,747.78,518.2,403.73,...,396.09,392.46,370.51,409.96,419.37,347.86,350.83,355.17,220.29,193.05
38,CIF VALUE OF IMPORTS,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
39,EXPENDITURE IN FOREIGN EXCHANGE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
40,Expenditure In Foreign Currency,50.16,84.04,103.81,123.21,92.54,20.31,19.76,4.81,1.73,...,111.19,19.7,NaN,6.13,4.73,7.25,NaN,NaN,NaN,NaN
41,REMITTANCES IN FOREIGN CURRENCIES FOR DIVIDENDS,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
42,EARNINGS IN FOREIGN EXCHANGE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43,Other Earnings,0.62,0.26,6.89,13.15,148.42,168.69,173.91,358.26,40.6,...,78.55,48.89,NaN,69.42,88.8,111.94,NaN,NaN,NaN,NaN
44,BONUS DETAILS,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
45,Bonus Equity Share Capital,20.0,20.0,20.0,84.79,84.79,84.79,84.79,84.79,84.79,...,84.79,84.79,84.79,84.79,84.79,84.79,84.79,8.8,8.8,8.8
46,NON-CURRENT INVESTMENTS,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
47,Non-Current Investments Unquoted Book Value,86.65,100.94,591.72,1204.36,1455.42,1724.84,1969.78,2019.2,1533.88,...,1432.55,1215.49,1236.89,1127.59,1167.21,1199.84,1219.86,1252.79,1320.79,107.93
48,CURRENT INVESTMENTS,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [372]:
# df = df.T
# df

In [373]:
file_new_path = r"C:\\Users\\sharm\\OneDrive\\Desktop\\Kishan\\Data\\T_Balanced_sheet.xlsx"

df = df.T.reset_index()
df.columns = ['Year'] + list(df.columns[1:])  # Rename the index column to "Year"
df.to_excel(file_new_path,index = False)
df

,Year,0,1,2,3,4,5,6,7,8,...,39,40,41,42,43,44,45,46,47,48
0,Balance Sheet of 3i Infotech(in Rs. Cr.),EQUITIES AND LIABILITIES,SHAREHOLDER'S FUNDS,Equity Share Capital,Total Share Capital,Reserves and Surplus,Total Reserves and Surplus,Total Shareholders Funds,NON-CURRENT LIABILITIES,Long Term Borrowings,...,EXPENDITURE IN FOREIGN EXCHANGE,Expenditure In Foreign Currency,REMITTANCES IN FOREIGN CURRENCIES FOR DIVIDENDS,EARNINGS IN FOREIGN EXCHANGE,Other Earnings,BONUS DETAILS,Bonus Equity Share Capital,NON-CURRENT INVESTMENTS,Non-Current Investments Unquoted Book Value,CURRENT INVESTMENTS
1,Mar 05,0.0,0.0,31.0,181.0,29.91,29.91,210.92,0.0,130.67,...,0.0,50.16,0.0,0.0,0.62,0.0,20.0,0.0,86.65,0.0
2,Mar 06,0.0,0.0,53.05,153.05,219.17,219.17,372.22,0.0,294.74,...,0.0,84.04,0.0,0.0,0.26,0.0,20.0,0.0,100.94,0.0
3,Mar 07,0.0,0.0,56.3,156.3,305.35,305.35,461.65,0.0,533.43,...,0.0,103.81,0.0,0.0,6.89,0.0,20.0,0.0,591.72,0.0
4,Mar 08,0.0,0.0,130.54,230.54,414.45,414.45,644.98,0.0,1240.1,...,0.0,123.21,0.0,0.0,13.15,0.0,84.79,0.0,1204.36,0.0
5,Mar 09,0.0,0.0,130.75,230.75,515.9,515.9,746.65,0.0,1408.81,...,0.0,92.54,0.0,0.0,148.42,0.0,84.79,0.0,1455.42,0.0
6,Mar 10,0.0,0.0,168.76,268.76,626.34,626.34,895.1,0.0,1429.63,...,0.0,20.31,0.0,0.0,168.69,0.0,84.79,0.0,1724.84,0.0
7,Mar 11,0.0,0.0,191.99,291.99,776.25,776.25,1068.24,0.0,1038.82,...,0.0,19.76,0.0,0.0,173.91,0.0,84.79,0.0,1969.78,0.0
8,Mar 12,0.0,0.0,191.99,291.99,372.29,372.29,664.28,0.0,1693.57,...,0.0,4.81,0.0,0.0,358.26,0.0,84.79,0.0,2019.2,0.0
9,Mar 13,0.0,0.0,571.55,636.55,397.11,397.11,1033.66,0.0,1958.49,...,0.0,1.73,0.0,0.0,40.6,0.0,84.79,0.0,1533.88,0.0
10,Mar 14,0.0,0.0,572.64,637.64,-40.34,-40.34,597.3,0.0,2062.93,...,0.0,42.14,0.0,0.0,41.17,0.0,84.79,0.0,1533.88,0.0
11,Mar 15,0.0,0.0,603.75,668.75,-1079.11,-953.61,-284.86,0.0,1995.76,...,0.0,111.19,0.0,0.0,78.55,0.0,84.79,0.0,1432.55,0.0
12,Mar 16,0.0,0.0,640.8,924.48,-477.44,-477.44,730.72,0.0,707.73,...,0.0,19.7,0.0,0.0,48.89,0.0,84.79,0.0,1215.49,0.0
13,Mar 17,0.0,0.0,1183.65,1495.35,-963.34,-963.34,532.01,0.0,717.89,...,0.0,NaN,0.0,0.0,NaN,0.0,84.79,0.0,1236.89,0.0
14,Mar 18,0.0,0.0,1615.36,1957.25,-1512.72,-1512.72,444.53,0.0,613.04,...,0.0,6.13,0.0,0.0,69.42,0.0,84.79,0.0,1127.59,0.0
15,Mar 19,0.0,0.0,1616.64,1992.07,-1259.07,-1259.07,733.0,0.0,436.72,...,0.0,4.73,0.0,0.0,88.8,0.0,84.79,0.0,1167.21,0.0
16,Mar 20,0.0,0.0,1616.65,2047.16,-1128.16,-1128.16,919.0,0.0,309.1,...,0.0,7.25,0.0,0.0,111.94,0.0,84.79,0.0,1199.84,0.0
17,Mar 21,0.0,0.0,1616.65,2047.16,-803.58,-803.58,1243.58,0.0,91.05,...,0.0,NaN,0.0,0.0,NaN,0.0,84.79,0.0,1219.86,0.0
18,Mar 22,0.0,0.0,167.94,167.94,681.79,681.79,849.73,0.0,44.65,...,0.0,NaN,0.0,0.0,NaN,0.0,8.8,0.0,1252.79,0.0
19,Mar 23,0.0,0.0,168.47,168.47,735.67,735.67,904.14,0.0,41.51,...,0.0,NaN,0.0,0.0,NaN,0.0,8.8,0.0,1320.79,0.0
20,Mar 24,0.0,0.0,169.23,169.23,-81.97,-81.97,87.26,0.0,38.79,...,0.0,NaN,0.0,0.0,NaN,0.0,8.8,0.0,107.93,0.0

In [374]:
df.iloc[0:,1:]
df_columns = df.iloc[0,1:]
df_columns

0                            EQUITIES AND LIABILITIES
1                                 SHAREHOLDER'S FUNDS
2                                Equity Share Capital
3                                 Total Share Capital
4                                Reserves and Surplus
5                          Total Reserves and Surplus
6                            Total Shareholders Funds
7                             NON-CURRENT LIABILITIES
8                                Long Term Borrowings
9                         Other Long Term Liabilities
10                      Total Non-Current Liabilities
11                                CURRENT LIABILITIES
12                              Short Term Borrowings
13                                     Trade Payables
14                          Other Current Liabilities
15                              Short Term Provisions
16                          Total Current Liabilities
17                      Total Capital And Liabilities
18                                             ASSETS
19                                 NON-CURRENT ASSETS
20                                    Tangible Assets
21                                  Intangible Assets
22                                       Fixed Assets
23                            Non-Current Investments
24                          Deferred Tax Assets [Net]
25                       Long Term Loans And Advances
26                           Other Non-Current Assets
27                           Total Non-Current Assets
28                                     CURRENT ASSETS
29                                  Trade Receivables
30                          Cash And Cash Equivalents
31                      Short Term Loans And Advances
32                                 OtherCurrentAssets
33                               Total Current Assets
34                                       Total Assets
35                       OTHER ADDITIONAL INFORMATION
36                CONTINGENT LIABILITIES, COMMITMENTS
37                             Contingent Liabilities
38                               CIF VALUE OF IMPORTS
39                    EXPENDITURE IN FOREIGN EXCHANGE
40                    Expenditure In Foreign Currency
41    REMITTANCES IN FOREIGN CURRENCIES FOR DIVIDENDS
42                       EARNINGS IN FOREIGN EXCHANGE
43                                     Other Earnings
44                                      BONUS DETAILS
45                         Bonus Equity Share Capital
46                            NON-CURRENT INVESTMENTS
47        Non-Current Investments Unquoted Book Value
48                                CURRENT INVESTMENTS
Name: 0, dtype: object

In [375]:
print(less_null_values)

['Other Long Term Liabilities', 'Short Term Borrowings', 'Intangible Assets', 'Deferred Tax Assets [Net]', 'Long Term Loans And Advances', 'Other Non-Current Assets', 'Short Term Loans And Advances', 'OtherCurrentAssets', 'Expenditure In Foreign Currency', 'Other Earnings']

In [376]:
from sklearn.impute import SimpleImputer
import numpy as np
import pandas as pd

# Set the first row as the header
df.columns = df.iloc[0]  # Assign the first row as the column headers
df = df[1:]  # Remove the first row since it's now the header

# Reset the index (optional)
df.reset_index(drop=True, inplace=True)


# Check if all columns in less_null_values exist in the DataFrame
missing_columns = [col for col in less_null_values if col not in df.columns]
if missing_columns:
    print(f"Columns not found in DataFrame: {missing_columns}")
else:
    # Convert columns to numeric (if not already numeric)
    df[less_null_values] = df[less_null_values].apply(pd.to_numeric, errors='coerce')

    # Initialize the SimpleImputer with the strategy set to 'mean'
    imputer = SimpleImputer(missing_values=np.nan, strategy='mean')

    # Fit and transform the specified columns
    df[less_null_values] = imputer.fit_transform(df[less_null_values])

    # Print the updated DataFrame (optional)
    print(df)

    # Save the updated DataFrame to Excel (optional)
    df.to_excel(new_output_path, index=False)

0  Balance Sheet of 3i Infotech(in Rs. Cr.) EQUITIES AND LIABILITIES  \
0                                    Mar 05                      0.0
1                                    Mar 06                      0.0
2                                    Mar 07                      0.0
3                                    Mar 08                      0.0
4                                    Mar 09                      0.0
5                                    Mar 10                      0.0
6                                    Mar 11                      0.0
7                                    Mar 12                      0.0
8                                    Mar 13                      0.0
9                                    Mar 14                      0.0
10                                   Mar 15                      0.0
11                                   Mar 16                      0.0
12                                   Mar 17                      0.0
13                                   Mar 18                      0.0
14                                   Mar 19                      0.0
15                                   Mar 20                      0.0
16                                   Mar 21                      0.0
17                                   Mar 22                      0.0
18                                   Mar 23                      0.0
19                                   Mar 24                      0.0

0  SHAREHOLDER'S FUNDS Equity Share Capital Total Share Capital  \
0                  0.0                 31.0               181.0
1                  0.0                53.05              153.05
2                  0.0                 56.3               156.3
3                  0.0               130.54              230.54
4                  0.0               130.75              230.75
5                  0.0               168.76              268.76
6                  0.0               191.99              291.99
7                  0.0               191.99              291.99
8                  0.0               571.55              636.55
9                  0.0               572.64              637.64
10                 0.0               603.75              668.75
11                 0.0                640.8              924.48
12                 0.0              1183.65             1495.35
13                 0.0              1615.36             1957.25
14                 0.0              1616.64             1992.07
15                 0.0              1616.65             2047.16
16                 0.0              1616.65             2047.16
17                 0.0               167.94              167.94
18                 0.0               168.47              168.47
19                 0.0               169.23              169.23

0  Reserves and Surplus Total Reserves and Surplus Total Shareholders Funds  \
0                 29.91                      29.91                   210.92
1                219.17                     219.17                   372.22
2                305.35                     305.35                   461.65
3                414.45                     414.45                   644.98
4                 515.9                      515.9                   746.65
5                626.34                     626.34                    895.1
6                776.25                     776.25                  1068.24
7                372.29                     372.29                   664.28
8                397.11                     397.11                  1033.66
9                -40.34                     -40.34                    597.3
10             -1079.11                    -953.61                  -284.86
11              -477.44                    -477.44                   730.72
12              -963.34                    -963.34                   532.01
13             -1512.72                   -1512.72                   444.53
14             -1259.07                   -1259.07                    733.0
15             -1128.16                   -1128.16                    919.0
16              -803.58                    -803.58                  1243.58
17               681.79                     681.79                   849.73
18               735.67                     735.67                   904.14
19               -81.97                     -81.97                    87.26

0  NON-CURRENT LIABILITIES Long Term Borrowings  ...  \
0                      0.0               130.67  ...
1                      0.0               294.74  ...
2                      0.0               533.43  ...
3                      0.0               1240.1  ...
4                      0.0              1408.81  ...
5                      0.0              1429.63  ...
6                      0.0              1038.82  ...
7                      0.0              1693.57  ...
8                      0.0              1958.49  ...
9                      0.0              2062.93  ...
10                     0.0              1995.76  ...
11                     0.0               707.73  ...
12                     0.0               717.89  ...
13                     0.0               613.04  ...
14                     0.0               436.72  ...
15                     0.0                309.1  ...
16                     0.0                91.05  ...
17                     0.0                44.65  ...
18                     0.0                41.51  ...
19                     0.0                38.79  ...

0   EXPENDITURE IN FOREIGN EXCHANGE Expenditure In Foreign Currency  \
0                               0.0                       50.160000
1                               0.0                       84.040000
2                               0.0                      103.810000
3                               0.0                      123.210000
4                               0.0                       92.540000
5                               0.0                       20.310000
6                               0.0                       19.760000
7                               0.0                        4.810000
8                               0.0                        1.730000
9                               0.0                       42.140000
10                              0.0                      111.190000
11                              0.0                       19.700000
12                              0.0                       46.100667
13                              0.0                        6.130000
14                              0.0                        4.730000
15                              0.0                        7.250000
16                              0.0                       46.100667
17                              0.0                       46.100667
18                              0.0                       46.100667
19                              0.0                       46.100667

0  REMITTANCES IN FOREIGN CURRENCIES FOR DIVIDENDS  \
0                                              0.0
1                                              0.0
2                                              0.0
3                                              0.0
4                                              0.0
5                                              0.0
6                                              0.0
7                                              0.0
8                                              0.0
9                                              0.0
10                                             0.0
11                                             0.0
12                                             0.0
13                                             0.0
14                                             0.0
15                                             0.0
16                                             0.0
17                                             0.0
18                                             0.0
19                                             0.0

0   EARNINGS IN FOREIGN EXCHANGE Other Earnings BONUS DETAILS  \
0                            0.0       0.620000           0.0
1                            0.0       0.260000           0.0
2                            0.0       6.890000           0.0
3                            0.0      13.150000           0.0
4                            0.0     148.420000           0.0
5                            0.0     168.690000           0.0
6                            0.0     173.910000           0.0
7                            0.0     358.260000           0.0
8                            0.0      40.600000           0.0
9                            0.0      41.170000           0.0
10                           0.0      78.550000           0.0
11                           0.0      48.890000           0.0
12                           0.0      89.971333           0.0
13                           0.0      69.420000           0.0
14                           0.0      88.800000           0.0
15                           0.0     111.940000           0.0
16                           0.0      89.971333           0.0
17                           0.0      89.971333           0.0
18                           0.0      89.971333           0.0
19                           0.0      89.971333           0.0

0  Bonus Equity Share Capital NON-CURRENT INVESTMENTS  \
0                        20.0                     0.0
1                        20.0                     0.0
2                        20.0                     0.0
3                       84.79                     0.0
4                       84.79                     0.0
5                       84.79                     0.0
6                       84.79                     0.0
7                       84.79                     0.0
8                       84.79                     0.0
9                       84.79                     0.0
10                      84.79                     0.0
11                      84.79                     0.0
12                      84.79                     0.0
13                      84.79                     0.0
14                      84.79                     0.0
15                      84.79                     0.0
16                      84.79                     0.0
17                        8.8                     0.0
18                        8.8                     0.0
19                        8.8                     0.0

0  Non-Current Investments Unquoted Book Value CURRENT INVESTMENTS
0                                        86.65                 0.0
1                                       100.94                 0.0
2                                       591.72                 0.0
3                                      1204.36                 0.0
4                                      1455.42                 0.0
5                                      1724.84                 0.0
6                                      1969.78                 0.0
7                                       2019.2                 0.0
8                                      1533.88                 0.0
9                                      1533.88                 0.0
10                                     1432.55                 0.0
11                                     1215.49                 0.0
12                                     1236.89                 0.0
13                                     1127.59                 0.0
14                                     1167.21                 0.0
15                                     1199.84                 0.0
16                                     1219.86                 0.0
17                                     1252.79                 0.0
18                                     1320.79                 0.0
19                                      107.93                 0.0

[20 rows x 50 columns]

C:\Users\sharm\AppData\Local\Temp\ipykernel_18096\967812455.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[less_null_values] = df[less_null_values].apply(pd.to_numeric, errors='coerce')
C:\Users\sharm\AppData\Local\Temp\ipykernel_18096\967812455.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[less_null_values] = imputer.fit_transform(df[less_null_values])

In [ ]:
final_final_final = r"C:\\Users\\sharm\\OneDrive\\Desktop\\Kishan\\Data\\Final_Balanced_sheet.xlsx"
df.replace(0.00,np.nan,inplace=True)
df
df.to_excel(final_final_final,index=False)

C:\Users\sharm\AppData\Local\Temp\ipykernel_18096\291175064.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.replace(0.00,np.nan,inplace=True)
C:\Users\sharm\AppData\Local\Temp\ipykernel_18096\291175064.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.replace(0.00,np.nan,inplace=True)

In [378]:
missing_value = df.isnull()
missing_value.tail(20)

,Balance Sheet of 3i Infotech(in Rs. Cr.),EQUITIES AND LIABILITIES,SHAREHOLDER'S FUNDS,Equity Share Capital,Total Share Capital,Reserves and Surplus,Total Reserves and Surplus,Total Shareholders Funds,NON-CURRENT LIABILITIES,Long Term Borrowings,...,EXPENDITURE IN FOREIGN EXCHANGE,Expenditure In Foreign Currency,REMITTANCES IN FOREIGN CURRENCIES FOR DIVIDENDS,EARNINGS IN FOREIGN EXCHANGE,Other Earnings,BONUS DETAILS,Bonus Equity Share Capital,NON-CURRENT INVESTMENTS,Non-Current Investments Unquoted Book Value,CURRENT INVESTMENTS
0,False,True,True,False,False,False,False,False,True,False,...,True,False,True,True,False,True,False,True,False,True
1,False,True,True,False,False,False,False,False,True,False,...,True,False,True,True,False,True,False,True,False,True
2,False,True,True,False,False,False,False,False,True,False,...,True,False,True,True,False,True,False,True,False,True
3,False,True,True,False,False,False,False,False,True,False,...,True,False,True,True,False,True,False,True,False,True
4,False,True,True,False,False,False,False,False,True,False,...,True,False,True,True,False,True,False,True,False,True
5,False,True,True,False,False,False,False,False,True,False,...,True,False,True,True,False,True,False,True,False,True
6,False,True,True,False,False,False,False,False,True,False,...,True,False,True,True,False,True,False,True,False,True
7,False,True,True,False,False,False,False,False,True,False,...,True,False,True,True,False,True,False,True,False,True
8,False,True,True,False,False,False,False,False,True,False,...,True,False,True,True,False,True,False,True,False,True
9,False,True,True,False,False,False,False,False,True,False,...,True,False,True,True,False,True,False,True,False,True
10,False,True,True,False,False,False,False,False,True,False,...,True,False,True,True,False,True,False,True,False,True
11,False,True,True,False,False,False,False,False,True,False,...,True,False,True,True,False,True,False,True,False,True
12,False,True,True,False,False,False,False,False,True,False,...,True,False,True,True,False,True,False,True,False,True
13,False,True,True,False,False,False,False,False,True,False,...,True,False,True,True,False,True,False,True,False,True
14,False,True,True,False,False,False,False,False,True,False,...,True,False,True,True,False,True,False,True,False,True
15,False,True,True,False,False,False,False,False,True,False,...,True,False,True,True,False,True,False,True,False,True
16,False,True,True,False,False,False,False,False,True,False,...,True,False,True,True,False,True,False,True,False,True
17,False,True,True,False,False,False,False,False,True,False,...,True,False,True,True,False,True,False,True,False,True
18,False,True,True,False,False,False,False,False,True,False,...,True,False,True,True,False,True,False,True,False,True
19,False,True,True,False,False,False,False,False,True,False,...,True,False,True,True,False,True,False,True,False,True

In [379]:
for column in missing_value.columns.values.tolist():
    # print(column)
    print(missing_value[column].value_counts())
    print("")

Balance Sheet of 3i Infotech(in Rs. Cr.)
False    20
Name: count, dtype: int64

EQUITIES AND LIABILITIES
True    20
Name: count, dtype: int64

SHAREHOLDER'S FUNDS
True    20
Name: count, dtype: int64

Equity Share Capital
False    20
Name: count, dtype: int64

Total Share Capital
False    20
Name: count, dtype: int64

Reserves and Surplus
False    20
Name: count, dtype: int64

Total Reserves and Surplus
False    20
Name: count, dtype: int64

Total Shareholders Funds
False    20
Name: count, dtype: int64

NON-CURRENT LIABILITIES
True    20
Name: count, dtype: int64

Long Term Borrowings
False    20
Name: count, dtype: int64

Other Long Term Liabilities
False    20
Name: count, dtype: int64

Total Non-Current Liabilities
False    20
Name: count, dtype: int64

CURRENT LIABILITIES
True    20
Name: count, dtype: int64

Short Term Borrowings
False    20
Name: count, dtype: int64

Trade Payables
False    20
Name: count, dtype: int64

Other Current Liabilities
False    20
Name: count, dtype: int64

Short Term Provisions
False    20
Name: count, dtype: int64

Total Current Liabilities
False    20
Name: count, dtype: int64

Total Capital And Liabilities
False    20
Name: count, dtype: int64

ASSETS
True    20
Name: count, dtype: int64

NON-CURRENT ASSETS
True    20
Name: count, dtype: int64

Tangible Assets
False    20
Name: count, dtype: int64

Intangible Assets
False    20
Name: count, dtype: int64

Fixed Assets
False    20
Name: count, dtype: int64

Non-Current Investments
False    20
Name: count, dtype: int64

Deferred Tax Assets [Net]
False    20
Name: count, dtype: int64

Long Term Loans And Advances
False    20
Name: count, dtype: int64

Other Non-Current Assets
False    20
Name: count, dtype: int64

Total Non-Current Assets
False    20
Name: count, dtype: int64

CURRENT ASSETS
True    20
Name: count, dtype: int64

Trade Receivables
False    20
Name: count, dtype: int64

Cash And Cash Equivalents
False    20
Name: count, dtype: int64

Short Term Loans And Advances
False    20
Name: count, dtype: int64

OtherCurrentAssets
False    20
Name: count, dtype: int64

Total Current Assets
False    20
Name: count, dtype: int64

Total Assets
False    20
Name: count, dtype: int64

OTHER ADDITIONAL INFORMATION
True    20
Name: count, dtype: int64

CONTINGENT LIABILITIES, COMMITMENTS
True    20
Name: count, dtype: int64

Contingent Liabilities
False    20
Name: count, dtype: int64

CIF VALUE OF IMPORTS
True    20
Name: count, dtype: int64

EXPENDITURE IN FOREIGN EXCHANGE
True    20
Name: count, dtype: int64

Expenditure In Foreign Currency
False    20
Name: count, dtype: int64

REMITTANCES IN FOREIGN CURRENCIES FOR DIVIDENDS
True    20
Name: count, dtype: int64

EARNINGS IN FOREIGN EXCHANGE
True    20
Name: count, dtype: int64

Other Earnings
False    20
Name: count, dtype: int64

BONUS DETAILS
True    20
Name: count, dtype: int64

Bonus Equity Share Capital
False    20
Name: count, dtype: int64

NON-CURRENT INVESTMENTS
True    20
Name: count, dtype: int64

Non-Current Investments Unquoted Book Value
False    20
Name: count, dtype: int64

CURRENT INVESTMENTS
True    20
Name: count, dtype: int64

In [380]:
df = df.dropna(axis=1)
df

,Balance Sheet of 3i Infotech(in Rs. Cr.),Equity Share Capital,Total Share Capital,Reserves and Surplus,Total Reserves and Surplus,Total Shareholders Funds,Long Term Borrowings,Other Long Term Liabilities,Total Non-Current Liabilities,Short Term Borrowings,...,Cash And Cash Equivalents,Short Term Loans And Advances,OtherCurrentAssets,Total Current Assets,Total Assets,Contingent Liabilities,Expenditure In Foreign Currency,Other Earnings,Bonus Equity Share Capital,Non-Current Investments Unquoted Book Value
0,Mar 05,31.00,181.00,29.91,29.91,210.92,130.67,264.667,149.54,11.190000,...,9.37,100.540000,0.080000,167.60,447.06,6.17,50.160000,0.620000,20.00,86.65
1,Mar 06,53.05,153.05,219.17,219.17,372.22,294.74,264.667,317.31,20.640000,...,249.46,111.430000,65.413529,469.27,801.31,13.16,84.040000,0.260000,20.00,100.94
2,Mar 07,56.30,156.30,305.35,305.35,461.65,533.43,264.667,536.96,12.590000,...,65.17,200.540000,65.413529,375.38,1131.73,52.47,103.810000,6.890000,20.00,591.72
3,Mar 08,130.54,230.54,414.45,414.45,644.98,1240.10,264.667,1253.77,22.010000,...,37.06,410.320000,65.413529,577.40,2069.52,16.92,123.210000,13.150000,84.79,1204.36
4,Mar 09,130.75,230.75,515.90,515.90,746.65,1408.81,264.667,1443.82,112.170000,...,99.15,417.400000,37.330000,690.29,2657.52,88.77,92.540000,148.420000,84.79,1455.42
5,Mar 10,168.76,268.76,626.34,626.34,895.10,1429.63,264.667,1429.63,178.470000,...,44.74,486.880000,15.000000,796.69,2845.11,28.53,20.310000,168.690000,84.79,1724.84
6,Mar 11,191.99,291.99,776.25,776.25,1068.24,1038.82,155.460,1194.28,509.290000,...,108.86,482.790000,73.460000,861.95,3270.15,747.78,19.760000,173.910000,84.79,1969.78
7,Mar 12,191.99,291.99,372.29,372.29,664.28,1693.57,203.230,1896.80,216.100000,...,40.26,134.020000,313.000000,569.33,3578.55,518.20,4.810000,358.260000,84.79,2019.20
8,Mar 13,571.55,636.55,397.11,397.11,1033.66,1958.49,32.520,1991.01,6.000000,...,13.87,108.910000,30.840000,251.04,4003.04,403.73,1.730000,40.600000,84.79,1533.88
9,Mar 14,572.64,637.64,-40.34,-40.34,597.30,2062.93,1002.310,3065.24,185.190000,...,16.50,41.670000,29.570000,697.70,4488.99,435.03,42.140000,41.170000,84.79,1533.88
10,Mar 15,603.75,668.75,-1079.11,-953.61,-284.86,1995.76,1056.320,3052.08,140.160000,...,12.34,29.550000,34.940000,652.02,3723.35,396.09,111.190000,78.550000,84.79,1432.55
11,Mar 16,640.80,924.48,-477.44,-477.44,730.72,707.73,264.667,725.30,11.690000,...,21.18,0.090000,26.190000,663.65,2501.37,392.46,19.700000,48.890000,84.79,1215.49
12,Mar 17,1183.65,1495.35,-963.34,-963.34,532.01,717.89,264.667,730.72,11.330000,...,96.55,0.080000,35.780000,692.82,2485.84,370.51,46.100667,89.971333,84.79,1236.89
13,Mar 18,1615.36,1957.25,-1512.72,-1512.72,444.53,613.04,264.667,628.06,11.340000,...,32.95,0.140000,49.760000,663.56,2344.48,409.96,6.130000,69.420000,84.79,1127.59
14,Mar 19,1616.64,1992.07,-1259.07,-1259.07,733.00,436.72,264.667,452.11,12.130000,...,79.47,0.010000,66.920000,775.40,2458.06,419.37,4.730000,88.800000,84.79,1167.21
15,Mar 20,1616.65,2047.16,-1128.16,-1128.16,919.00,309.10,47.540,372.01,13.080000,...,67.24,168.291333,80.540000,800.82,2576.27,347.86,7.250000,111.940000,84.79,1199.84
16,Mar 21,1616.65,2047.16,-803.58,-803.58,1243.58,91.05,26.000,128.26,12.810000,...,637.53,168.291333,61.080000,1122.57,2563.05,350.83,46.100667,89.971333,84.79,1219.86
17,Mar 22,167.94,167.94,681.79,681.79,849.73,44.65,52.220,106.67,37.020000,...,86.15,168.291333,120.650000,657.93,2180.46,355.17,46.100667,89.971333,8.80,1252.79
18,Mar 23,168.47,168.47,735.67,735.67,904.14,41.51,46.830,98.57,7.250000,...,40.51,168.291333,85.290000,541.97,2191.58,220.29,46.100667,89.971333,8.80,1320.79
19,Mar 24,169.23,169.23,-81.97,-81.97,87.26,38.79,24.240,77.07,80.550526,...,28.75,168.291333,51.600000,152.89,497.45,193.05,46.100667,89.971333,8.80,107.93

In [381]:
final_final = r"C:\\Users\\sharm\\OneDrive\\Desktop\\Kishan\\Data\\Final_Balanced_sheet_2.xlsx"
df.to_excel(final_final,index=False)