In [1]:
import pandas as pd
import numpy as np

In [2]:
input_path = r"C:\\Users\\sharm\\OneDrive\\Desktop\\Kishan\\Contractzy\\WebScrapping\\Tutorial\\Financial_Data\\MoneyControl\\Companies\\IT Services & Consulting\\Tata Consultancy Services Ltd\\Pruned_Excel\\Pruned_Quarterly-resul_combined.xlsx"
output_path = r"C:\\Users\\sharm\\OneDrive\\Desktop\\Kishan\\Data\\Matrix_Text.csv"
new_output_path = r"C:\\Users\\sharm\\OneDrive\\Desktop\\Kishan\\Data\\transposed_Cash_flow.xlsx"

In [3]:
df = pd.read_excel(input_path)

In [4]:
df.describe()

,Year,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
count,46,46,46,46,46,46,46,46,46,46,46,46,46,46,46,46,46,46,46,46
unique,46,46,46,46,43,46,46,46,46,39,46,46,46,46,46,9,46,46,46,46
top,Quarterly Results of Tata Consultancy Services...,Net Sales/Income from operations,Total Income From Operations,Employees Cost,396,Other Expenses,"P/L Before Other Inc. , Int., Excpt. Items & Tax",Other Income,"P/L Before Int., Excpt. Items & Tax",4,P/L Before Exceptional Items & Tax,P/L Before Tax,Tax,P/L After Tax from Ordinary Activities,Net Profit/(Loss) For the Period,375,Basic EPS,Diluted EPS,Basic EPS.,Diluted EPS.
freq,1,1,1,1,2,1,1,1,1,4,1,1,1,1,1,10,1,1,1,1

In [5]:
df.iloc[1:,1:]

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
1,"16,692.65",16692.65,5430.93,280.36,5482.53,5498.83,653.13,6151.96,4,6147.96,6147.96,1371.2,4776.76,4776.76,195.87,24.36,24.36,24.36,24.36
2,"16,893.91",16893.91,5354.04,297.21,5974.83,5267.83,685.89,5953.72,4.55,5949.17,5949.17,1320.65,4628.52,4628.52,195.87,23.54,23.54,23.54,23.54
3,"17,438.43",17438.43,6024.84,335.26,5925.38,5152.95,798.96,5951.91,3.73,5948.18,6475.94,1379.07,5096.87,5096.87,195.87,26.02,26.02,26.02,26.02
4,"18,405.05",18405.05,6260.67,340.71,6243,5560.67,865.17,6425.84,58.14,6367.7,6367.7,1376.02,4991.68,4991.68,195.87,25.48,25.48,25.48,25.48
5,"18,936.35",18936.35,6440.38,350.51,6354.75,5790.71,1503.16,7293.87,12.54,7281.33,7281.33,1570.18,5711.15,5711.15,195.87,29.16,29.16,29.16,29.16
6,"18,798.23",18798.23,8642.43,367.29,6658.41,3130.1,1299.44,4429.54,5.16,4424.38,4425,967.74,3457.26,3457.26,195.87,17.65,17.65,17.65,17.65
7,"20,349.00",20349,10104,348,3752,6145,991,7136,1,7135,7135,1502,5633,5633,197.04,28.59,28.59,28.59,28.59
8,"21,636.00",21636,10318,362,4247,6709,679,7388,3,7385,7385,1662,5723,5723,197.04,29.04,29.04,29.04,29.04
9,"21,621.00",21621,10809,365,4020,6427,1147,7574,5,7569,7569,1578,5991,5991,197.04,30.4,30.4,30.4,30.4
10,"22,258.00",22258,11189,384,4371,6314,940,7254,4,7250,7250,1522,5728,5728,197.04,29.07,29.07,29.07,29.07
11,"23,087.00",23087,11891,386,4389,6421,979,7400,6,7394,7394,1616,5778,5778,197.04,29.32,29.32,29.32,29.32
12,"23,016.00",23016,11937,396,4260,6423,1175,7598,3,7595,7595,1637,5958,5958,197.04,30.24,30.24,30.24,30.24
13,"23,184.00",23184,11941,394,4495,6354,1360,7714,3,7711,7711,1627,6084,6084,197.04,30.88,30.88,30.88,30.88
14,"23,406.00",23406,12347,399,4344,6316,1054,7370,4,7366,7366,1533,5833,5833,197.04,29.61,29.61,29.61,29.61
15,"23,476.00",23476,12740,396,4450,5890,2414,8304,21,8283,8283,1613,6670,6670,191,34.11,34.11,34.11,34.11
16,"24,032.00",24032,12896,412,4223,6501,807,7308,4,7304,7304,1558,5746,5746,191,30.02,30.02,30.02,30.02
17,"24,278.00",24278,12669,419,4492,6698,1043,7741,2,7739,7739,1670,6069,6069,191,31.7,31.7,31.7,31.7
18,"25,570.00",25570,13194,420,4887,7069,1539,8608,3,8605,8605,1849,6756,6756,191,35.29,35.29,35.29,35.29
19,"29,368.00",29368,14126,415,6854,7973,2381,10354,12,10342,10342,3206,7136,7136,383,18.64,18.64,18.64,18.64
20,"30,792.00",30792,14812,424,6998,8558,1725,10283,130,10153,10153,2533,7620,7620,375,19.92,19.92,19.92,19.92
21,"30,964.00",30964,15175,430,7237,8122,1873,9995,8,9987,9987,2501,7486,7486,375,19.95,19.95,19.95,19.95
22,"32,046.00",32046,15264,447,7740,8595,1648,10243,20,10223,10223,2400,7823,7823,375,20.85,20.85,20.85,20.85
23,"32,657.00",32657,15723,636,7273,9025,2205,11230,233,10997,10997,2283,8714,8714,375,23.22,23.22,23.22,23.22
24,"32,387.00",32387,16207,664,7186,8330,2638,10968,99,10869,10869,2233,8636,8636,375,23.02,23.02,23.02,23.02
25,"33,040.00",33040,16333,677,7262,8768,1206,9974,200,9774,9774,2091,7683,7683,375,20.47,20.47,20.47,20.47
26,"33,222.00",33222,16643,724,7326,8529,2033,10562,211,10351,10351,2124,8227,8227,375,21.92,21.92,21.92,21.92
27,"31,624.00",31624,16637,739,6393,7855,706,8561,118,8443,8443,2347,6096,6096,375,16.25,16.25,16.26,16.25
28,"33,365.00",33365,17211,755,6068,9331,1734,11065,149,10916,9698,2250,7448,7448,375,19.85,19.85,19.86,19.85
29,"34,957.00",34957,17779,771,6500,9907,2096,12003,159,11844,11844,2602,9242,9242,375,24.63,24.63,24.65,24.63
30,"36,017.00",36017,17419,788,7646,10164,864,11028,111,10917,10917,2743,8174,8174,370,22.08,22.08,22.09,22.08
31,"37,722.00",37722,19212,809,7317,10384,756,11140,120,11020,11020,2739,8281,8281,370,22.39,22.39,22.38,22.39
32,"39,315.00",39315,20007,844,7673,10791,2524,13315,117,13198,13198,3046,10152,10152,370,27.45,27.45,27.45,27.45
33,"40,845.00",40845,20535,925,8605,10780,2225,13005,126,12879,12879,2920,9959,9959,370,26.93,26.93,26.93,26.93
34,"42,459.00",42459,21343,944,9404,10768,1981,12749,123,12626,12626,2831,9795,9795,366,26.48,26.48,26.48,26.48
35,"44,480.00",44480,22971,960,9680,10869,715,11584,184,11400,11400,2812,8588,8588,366,23.47,23.47,23.47,23.47
36,"46,819.00",46819,23511,976,10526,11806,1622,13428,125,13303,13303,3244,10059,10059,366,27.49,27.49,27.49,27.49
37,"49,275.00",49275,24478,996,11281,12520,1558,14078,136,13942,13942,3283,10659,10659,366,29.13,29.13,29.13,29.13
38,"49,780.00",49780,25258,1008,11652,11862,1433,13295,250,13045,13045,3245,9800,9800,366,26.79,26.79,26.79,26.79
39,"49,862.00",49862,25979,969,10747,12167,1903,14070,138,13932,13932,3448,10484,10484,366,28.65,28.65,28.65,28.65
40,"50,165.00",50165,26018,979,10345,12823,1755,14578,134,14444,14444,3515,10929,10929,366,29.87,29.87,29.87,29.87
41,"50,844.00",50844,25511,964,10970,13399,1809,15208,204,15004,14046,3293,10753,10753,362,29.45,29.45,29.45,29.45
42,"51,488.00",51488,25631,975,11311,13571,1806,15377,197,15180,15180,3787,11393,11393,362,31.48,31.48,31.48,31.48
43,"52,844.00",52844,26657,969,11612,13606,2417,16023,145,15878,15878,3763,12115,12115,362,33.48,33.48,33.48,33.48
44,"53,990.00",53990,26815,1008,12617,13550,3185,16735,146,16589,16589,3595,12994,12994,362,35.91,35.91,35.91,35.91
45,"53,883.00",53883,26613,1125,12543,13602,2118,15720,211,15509,15509,3677,11832,11832,362,32.71,32.71,32.71,32.71

In [17]:
df.columns

Index(['Year', 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17,
       18],
      dtype='object')

In [18]:
# Set the first row as the column headers and remove it from the data
df.columns = df.iloc[0]  # Set first row as column headers
df = df[1:].reset_index(drop=True)  # Remove the first row

In [26]:
df[''].describe()

count       45.000000
mean     33050.836000
std      11902.394978
min      16692.650000
25%      23087.000000
50%      32046.000000
75%      42459.000000
max      53990.000000
Name: Total Income From Operations, dtype: float64

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 20 columns):
 #   Column                                                      Non-Null Count  Dtype
---  ------                                                      --------------  -----
 0   Quarterly Results of Tata Consultancy Services(in Rs. Cr.)  45 non-null     object
 1   Net Sales/Income from operations                            45 non-null     object
 2   Total Income From Operations                                45 non-null     object
 3   Employees Cost                                              45 non-null     object
 4   depreciat                                                   45 non-null     object
 5   Other Expenses                                              45 non-null     object
 6   P/L Before Other Inc. , Int., Excpt. Items & Tax            45 non-null     object
 7   Other Income                                                45 non-null     object
 8   P/L Before Int., Excpt. Items & Tax                         45 non-null     object
 9   Interest                                                    45 non-null     object
 10  P/L Before Exceptional Items & Tax                          45 non-null     object
 11  P/L Before Tax                                              45 non-null     object
 12  Tax                                                         45 non-null     object
 13  P/L After Tax from Ordinary Activities                      45 non-null     object
 14  Net Profit/(Loss) For the Period                            45 non-null     object
 15  Equity Share Capital                                        45 non-null     object
 16  Basic EPS                                                   45 non-null     object
 17  Diluted EPS                                                 45 non-null     object
 18  Basic EPS.                                                  45 non-null     object
 19  Diluted EPS.                                                45 non-null     object
dtypes: object(20)
memory usage: 7.2+ KB

In [28]:
df.head(5)

,Quarterly Results of Tata Consultancy Services(in Rs. Cr.),Net Sales/Income from operations,Total Income From Operations,Employees Cost,depreciat,Other Expenses,"P/L Before Other Inc. , Int., Excpt. Items & Tax",Other Income,"P/L Before Int., Excpt. Items & Tax",Interest,P/L Before Exceptional Items & Tax,P/L Before Tax,Tax,P/L After Tax from Ordinary Activities,Net Profit/(Loss) For the Period,Equity Share Capital,Basic EPS,Diluted EPS,Basic EPS.,Diluted EPS.
0,NaN,NaN,16692.65,5430.93,280.36,5482.53,5498.83,653.13,6151.96,4.00,6147.96,6147.96,1371.20,4776.76,4776.76,195.87,24.36,24.36,24.36,24.36
1,NaN,NaN,16893.91,5354.04,297.21,5974.83,5267.83,685.89,5953.72,4.55,5949.17,5949.17,1320.65,4628.52,4628.52,195.87,23.54,23.54,23.54,23.54
2,NaN,NaN,17438.43,6024.84,335.26,5925.38,5152.95,798.96,5951.91,3.73,5948.18,6475.94,1379.07,5096.87,5096.87,195.87,26.02,26.02,26.02,26.02
3,NaN,NaN,18405.05,6260.67,340.71,6243.00,5560.67,865.17,6425.84,58.14,6367.70,6367.70,1376.02,4991.68,4991.68,195.87,25.48,25.48,25.48,25.48
4,NaN,NaN,18936.35,6440.38,350.51,6354.75,5790.71,1503.16,7293.87,12.54,7281.33,7281.33,1570.18,5711.15,5711.15,195.87,29.16,29.16,29.16,29.16

In [31]:
df_type = df.iloc[0,2]
print(type(df_type))

<class 'numpy.float64'>

In [22]:

# Convert columns to numeric where possible
df = df.apply(pd.to_numeric, errors='coerce')

In [23]:
# Compute the correlation matrix
correlation_matrix = df.corr()

correlation_matrix.to_csv(output_path)

# Print the correlation matrix correctly formatted
print(correlation_matrix)

0                                                   Quarterly Results of Tata Consultancy Services(in Rs. Cr.)  \
0
Quarterly Results of Tata Consultancy Services(...                                                NaN
Net Sales/Income from operations                                                                  NaN
Total Income From Operations                                                                      NaN
Employees Cost                                                                                    NaN
depreciat                                                                                         NaN
Other Expenses                                                                                    NaN
P/L Before Other Inc. , Int., Excpt. Items & Tax                                                  NaN
Other Income                                                                                      NaN
P/L Before Int., Excpt. Items & Tax                                                               NaN
Interest                                                                                          NaN
P/L Before Exceptional Items & Tax                                                                NaN
P/L Before Tax                                                                                    NaN
Tax                                                                                               NaN
P/L After Tax from Ordinary Activities                                                            NaN
Net Profit/(Loss) For the Period                                                                  NaN
Equity Share Capital                                                                              NaN
Basic EPS                                                                                         NaN
Diluted EPS                                                                                       NaN
Basic EPS.                                                                                        NaN
Diluted EPS.                                                                                      NaN

0                                                   Net Sales/Income from operations  \
0
Quarterly Results of Tata Consultancy Services(...                               NaN
Net Sales/Income from operations                                                 NaN
Total Income From Operations                                                     NaN
Employees Cost                                                                   NaN
depreciat                                                                        NaN
Other Expenses                                                                   NaN
P/L Before Other Inc. , Int., Excpt. Items & Tax                                 NaN
Other Income                                                                     NaN
P/L Before Int., Excpt. Items & Tax                                              NaN
Interest                                                                         NaN
P/L Before Exceptional Items & Tax                                               NaN
P/L Before Tax                                                                   NaN
Tax                                                                              NaN
P/L After Tax from Ordinary Activities                                           NaN
Net Profit/(Loss) For the Period                                                 NaN
Equity Share Capital                                                             NaN
Basic EPS                                                                        NaN
Diluted EPS                                                                      NaN
Basic EPS.                                                                       NaN
Diluted EPS.                                                                     NaN

0                                                   Total Income From Operations  \
0
Quarterly Results of Tata Consultancy Services(...                           NaN
Net Sales/Income from operations                                             NaN
Total Income From Operations                                            1.000000
Employees Cost                                                          0.988807
depreciat                                                               0.961901
Other Expenses                                                          0.927162
P/L Before Other Inc. , Int., Excpt. Items & Tax                        0.983726
Other Income                                                            0.540981
P/L Before Int., Excpt. Items & Tax                                     0.974313
Interest                                                                0.798200
P/L Before Exceptional Items & Tax                                      0.973214
P/L Before Tax                                                          0.971927
Tax                                                                     0.958101
P/L After Tax from Ordinary Activities                                  0.962808
Net Profit/(Loss) For the Period                                        0.962808
Equity Share Capital                                                    0.787176
Basic EPS                                                               0.192346
Diluted EPS                                                             0.192346
Basic EPS.                                                              0.192389
Diluted EPS.                                                            0.192346

0                                                   Employees Cost  depreciat  \
0
Quarterly Results of Tata Consultancy Services(...             NaN        NaN
Net Sales/Income from operations                               NaN        NaN
Total Income From Operations                              0.988807   0.961901
Employees Cost                                            1.000000   0.951905
depreciat                                                 0.951905   1.000000
Other Expenses                                            0.868538   0.884833
P/L Before Other Inc. , Int., Excpt. Items & Tax          0.966193   0.943807
Other Income                                              0.538468   0.467283
P/L Before Int., Excpt. Items & Tax                       0.958360   0.924523
Interest                                                  0.775977   0.846585
P/L Before Exceptional Items & Tax                        0.957515   0.921179
P/L Before Tax                                            0.954506   0.918168
Tax                                                       0.938250   0.892833
P/L After Tax from Ordinary Activities                    0.946484   0.913827
Net Profit/(Loss) For the Period                          0.946484   0.913827
Equity Share Capital                                      0.772216   0.780692
Basic EPS                                                 0.210665   0.123955
Diluted EPS                                               0.210665   0.123955
Basic EPS.                                                0.210724   0.124062
Diluted EPS.                                              0.210665   0.123955

0                                                   Other Expenses  \
0
Quarterly Results of Tata Consultancy Services(...             NaN
Net Sales/Income from operations                               NaN
Total Income From Operations                              0.927162
Employees Cost                                            0.868538
depreciat                                                 0.884833
Other Expenses                                            1.000000
P/L Before Other Inc. , Int., Excpt. Items & Tax          0.893602
Other Income                                              0.504906
P/L Before Int., Excpt. Items & Tax                       0.887724
Interest                                                  0.757113
P/L Before Exceptional Items & Tax                        0.885952
P/L Before Tax                                            0.891584
Tax                                                       0.889749
P/L After Tax from Ordinary Activities                    0.879443
Net Profit/(Loss) For the Period                          0.879443
Equity Share Capital                                      0.726467
Basic EPS                                                 0.104578
Diluted EPS                                               0.104578
Basic EPS.                                                0.104537
Diluted EPS.                                              0.104578

0                                                   P/L Before Other Inc. , Int., Excpt. Items & Tax  \
0
Quarterly Results of Tata Consultancy Services(...                                               NaN
Net Sales/Income from operations                                                                 NaN
Total Income From Operations                                                                0.983726
Employees Cost                                                                              0.966193
depreciat                                                                                   0.943807
Other Expenses                                                                              0.893602
P/L Before Other Inc. , Int., Excpt. Items & Tax                                            1.000000
Other Income                                                                                0.526050
P/L Before Int., Excpt. Items & Tax                                                         0.985699
Interest                                                                                    0.792391
P/L Before Exceptional Items & Tax                                                          0.984978
P/L Before Tax                                                                              0.981553
Tax                                                                                         0.964875
P/L After Tax from Ordinary Activities                                                      0.973289
Net Profit/(Loss) For the Period                                                            0.973289
Equity Share Capital                                                                        0.789344
Basic EPS                                                                                   0.216312
Diluted EPS                                                                                 0.216312
Basic EPS.                                                                                  0.216383
Diluted EPS.                                                                                0.216312

0                                                   Other Income  \
0
Quarterly Results of Tata Consultancy Services(...           NaN
Net Sales/Income from operations                             NaN
Total Income From Operations                            0.540981
Employees Cost                                          0.538468
depreciat                                               0.467283
Other Expenses                                          0.504906
P/L Before Other Inc. , Int., Excpt. Items & Tax        0.526050
Other Income                                            1.000000
P/L Before Int., Excpt. Items & Tax                     0.661841
Interest                                                0.414283
P/L Before Exceptional Items & Tax                      0.664394
P/L Before Tax                                          0.663930
Tax                                                     0.582551
P/L After Tax from Ordinary Activities                  0.682741
Net Profit/(Loss) For the Period                        0.682741
Equity Share Capital                                    0.542027
Basic EPS                                               0.186733
Diluted EPS                                             0.186733
Basic EPS.                                              0.186816
Diluted EPS.                                            0.186733

0                                                   P/L Before Int., Excpt. Items & Tax  \
0
Quarterly Results of Tata Consultancy Services(...                                  NaN
Net Sales/Income from operations                                                    NaN
Total Income From Operations                                                   0.974313
Employees Cost                                                                 0.958360
depreciat                                                                      0.924523
Other Expenses                                                                 0.887724
P/L Before Other Inc. , Int., Excpt. Items & Tax                               0.985699
Other Income                                                                   0.661841
P/L Before Int., Excpt. Items & Tax                                            1.000000
Interest                                                                       0.780553
P/L Before Exceptional Items & Tax                                             0.999870
P/L Before Tax                                                                 0.996759
Tax                                                                            0.965933
P/L After Tax from Ordinary Activities                                         0.993202
Net Profit/(Loss) For the Period                                               0.993202
Equity Share Capital                                                           0.803180
Basic EPS                                                                      0.227672
Diluted EPS                                                                    0.227672
Basic EPS.                                                                     0.227751
Diluted EPS.                                                                   0.227672

0                                                   Interest  \
0
Quarterly Results of Tata Consultancy Services(...       NaN
Net Sales/Income from operations                         NaN
Total Income From Operations                        0.798200
Employees Cost                                      0.775977
depreciat                                           0.846585
Other Expenses                                      0.757113
P/L Before Other Inc. , Int., Excpt. Items & Tax    0.792391
Other Income                                        0.414283
P/L Before Int., Excpt. Items & Tax                 0.780553
Interest                                            1.000000
P/L Before Exceptional Items & Tax                  0.770371
P/L Before Tax                                      0.761117
Tax                                                 0.723133
P/L After Tax from Ordinary Activities              0.763430
Net Profit/(Loss) For the Period                    0.763430
Equity Share Capital                                0.795000
Basic EPS                                          -0.107274
Diluted EPS                                        -0.107274
Basic EPS.                                         -0.107168
Diluted EPS.                                       -0.107274

0                                                   P/L Before Exceptional Items & Tax  \
0
Quarterly Results of Tata Consultancy Services(...                                 NaN
Net Sales/Income from operations                                                   NaN
Total Income From Operations                                                  0.973214
Employees Cost                                                                0.957515
depreciat                                                                     0.921179
Other Expenses                                                                0.885952
P/L Before Other Inc. , Int., Excpt. Items & Tax                              0.984978
Other Income                                                                  0.664394
P/L Before Int., Excpt. Items & Tax                                           0.999870
Interest                                                                      0.770371
P/L Before Exceptional Items & Tax                                            1.000000
P/L Before Tax                                                                0.997066
Tax                                                                           0.966603
P/L After Tax from Ordinary Activities                                        0.993378
Net Profit/(Loss) For the Period                                              0.993378
Equity Share Capital                                                          0.798739
Basic EPS                                                                     0.234994
Diluted EPS                                                                   0.234994
Basic EPS.                                                                    0.235072
Diluted EPS.                                                                  0.234994

0                                                   P/L Before Tax       Tax  \
0
Quarterly Results of Tata Consultancy Services(...             NaN       NaN
Net Sales/Income from operations                               NaN       NaN
Total Income From Operations                              0.971927  0.958101
Employees Cost                                            0.954506  0.938250
depreciat                                                 0.918168  0.892833
Other Expenses                                            0.891584  0.889749
P/L Before Other Inc. , Int., Excpt. Items & Tax          0.981553  0.964875
Other Income                                              0.663930  0.582551
P/L Before Int., Excpt. Items & Tax                       0.996759  0.965933
Interest                                                  0.761117  0.723133
P/L Before Exceptional Items & Tax                        0.997066  0.966603
P/L Before Tax                                            1.000000  0.969348
Tax                                                       0.969348  1.000000
P/L After Tax from Ordinary Activities                    0.996336  0.944783
Net Profit/(Loss) For the Period                          0.996336  0.944783
Equity Share Capital                                      0.793248  0.827086
Basic EPS                                                 0.246256  0.122618
Diluted EPS                                               0.246256  0.122618
Basic EPS.                                                0.246321  0.122666
Diluted EPS.                                              0.246256  0.122618

0                                                   P/L After Tax from Ordinary Activities  \
0
Quarterly Results of Tata Consultancy Services(...                                     NaN
Net Sales/Income from operations                                                       NaN
Total Income From Operations                                                      0.962808
Employees Cost                                                                    0.946484
depreciat                                                                         0.913827
Other Expenses                                                                    0.879443
P/L Before Other Inc. , Int., Excpt. Items & Tax                                  0.973289
Other Income                                                                      0.682741
P/L Before Int., Excpt. Items & Tax                                               0.993202
Interest                                                                          0.763430
P/L Before Exceptional Items & Tax                                                0.993378
P/L Before Tax                                                                    0.996336

In [24]:
print(df.head())

0  Quarterly Results of Tata Consultancy Services(in Rs. Cr.)  \
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

0  Net Sales/Income from operations  Total Income From Operations  \
0                               NaN                      16692.65
1                               NaN                      16893.91
2                               NaN                      17438.43
3                               NaN                      18405.05
4                               NaN                      18936.35

0  Employees Cost  depreciat  Other Expenses  \
0         5430.93     280.36         5482.53
1         5354.04     297.21         5974.83
2         6024.84     335.26         5925.38
3         6260.67     340.71         6243.00
4         6440.38     350.51         6354.75

0  P/L Before Other Inc. , Int., Excpt. Items & Tax  Other Income  \
0                                           5498.83        653.13
1                                           5267.83        685.89
2                                           5152.95        798.96
3                                           5560.67        865.17
4                                           5790.71       1503.16

0  P/L Before Int., Excpt. Items & Tax  Interest  \
0                              6151.96      4.00
1                              5953.72      4.55
2                              5951.91      3.73
3                              6425.84     58.14
4                              7293.87     12.54

0  P/L Before Exceptional Items & Tax  P/L Before Tax      Tax  \
0                             6147.96         6147.96  1371.20
1                             5949.17         5949.17  1320.65
2                             5948.18         6475.94  1379.07
3                             6367.70         6367.70  1376.02
4                             7281.33         7281.33  1570.18

0  P/L After Tax from Ordinary Activities  Net Profit/(Loss) For the Period  \
0                                 4776.76                           4776.76
1                                 4628.52                           4628.52
2                                 5096.87                           5096.87
3                                 4991.68                           4991.68
4                                 5711.15                           5711.15

0  Equity Share Capital  Basic EPS  Diluted EPS  Basic EPS.  Diluted EPS.
0                195.87      24.36        24.36       24.36         24.36
1                195.87      23.54        23.54       23.54         23.54
2                195.87      26.02        26.02       26.02         26.02
3                195.87      25.48        25.48       25.48         25.48
4                195.87      29.16        29.16       29.16         29.16