In [71]:
import pandas as pd
import numpy as np
import os
input_path = r"C:\\Users\\rayya\\OneDrive\\Desktop\\Programs\\Financial-Management-Dataset-\\Financial_Data\\MoneyControl\\Companies\\IT Services & Consulting\\3i Infotech Ltd\\Excel\\Quarterly-resul_combined.xlsx"
output_path = r"C:\\Users\\rayya\\OneDrive\\Desktop\\Data\\Quarterly-resul_combined.xlsx"
new_output_path = r"C:\\Users\\rayya\\OneDrive\\Desktop\\Data\\new_Quarterly-resul_combined.xlsx"

df = pd.read_excel(input_path)
df.head(5)

,Quarterly Results of 3i Infotech(in Rs. Cr.),Sep '14,Jun '14,Mar '14,Dec '13,Sep '13,Dec '15,Sep '15,Jun '15,Mar '15,...,Jun '23,Mar '23,Dec '22,Sep '22,Jun '22,Sep '24,Jun '24,Mar '24,Dec '23,Sep '23
0,Net Sales/Income from operations,108.29,93.17,79.08,90.95,78.26,79.54,84.08,81.77,93.46,...,82.78,75.40,69.65,68.62,62.58,89.40,89.77,91.83,91.64,91.07
1,Other Operating Income,--,--,--,--,--,--,--,--,--,...,--,--,--,--,--,--,--,--,--,--
2,Total Income From Operations,108.29,93.17,79.08,90.95,78.26,79.54,84.08,81.77,93.46,...,82.78,75.40,69.65,68.62,62.58,89.40,89.77,91.83,91.64,91.07
3,EXPENDITURE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Consumption of Raw Materials,--,--,--,--,--,--,--,--,--,...,--,--,--,--,--,--,--,--,--,--

In [72]:
def reverse_columns_in_groups(df, start_index, group_size=5):
    """
    Reverses columns in groups of a specified size.

    Parameters:
    - df: The dataframe.
    - start_index: The starting index of the columns to reverse.
    - group_size: Number of columns in each group to reverse.
    
    Returns:
    - Updated dataframe with columns reversed in groups.
    """
    cols = df.columns[start_index:]
    reversed_cols = []

    # Reverse columns in groups
    for i in range(0, len(cols), group_size):
        group = cols[i:i + group_size]
        reversed_cols.extend(group[::-1])

    # Combine non-reversed and reversed columns
    new_columns = list(df.columns[:start_index]) + reversed_cols
    return df[new_columns]


# Start index where year columns begin
start_index = 1  # Assuming the first column contains non-year data
reversed_df = reverse_columns_in_groups(df, start_index=start_index)

df = reversed_df
df.head(5)

,Quarterly Results of 3i Infotech(in Rs. Cr.),Sep '13,Dec '13,Mar '14,Jun '14,Sep '14,Dec '14,Mar '15,Jun '15,Sep '15,...,Jun '22,Sep '22,Dec '22,Mar '23,Jun '23,Sep '23,Dec '23,Mar '24,Jun '24,Sep '24
0,Net Sales/Income from operations,78.26,90.95,79.08,93.17,108.29,105.80,93.46,81.77,84.08,...,62.58,68.62,69.65,75.40,82.78,91.07,91.64,91.83,89.77,89.40
1,Other Operating Income,--,--,--,--,--,--,--,--,--,...,--,--,--,--,--,--,--,--,--,--
2,Total Income From Operations,78.26,90.95,79.08,93.17,108.29,105.80,93.46,81.77,84.08,...,62.58,68.62,69.65,75.40,82.78,91.07,91.64,91.83,89.77,89.40
3,EXPENDITURE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Consumption of Raw Materials,--,--,--,--,--,--,--,--,--,...,--,--,--,--,--,--,--,--,--,--

In [73]:
df.replace({"12 mths": np.nan,"9 mths":np.nan, "0.00": np.nan, "--": np.nan}, inplace=True)
#df.to_excel(new_output_path, index=False)
df.head(5)

,Quarterly Results of 3i Infotech(in Rs. Cr.),Sep '13,Dec '13,Mar '14,Jun '14,Sep '14,Dec '14,Mar '15,Jun '15,Sep '15,...,Jun '22,Sep '22,Dec '22,Mar '23,Jun '23,Sep '23,Dec '23,Mar '24,Jun '24,Sep '24
0,Net Sales/Income from operations,78.26,90.95,79.08,93.17,108.29,105.80,93.46,81.77,84.08,...,62.58,68.62,69.65,75.40,82.78,91.07,91.64,91.83,89.77,89.40
1,Other Operating Income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Total Income From Operations,78.26,90.95,79.08,93.17,108.29,105.80,93.46,81.77,84.08,...,62.58,68.62,69.65,75.40,82.78,91.07,91.64,91.83,89.77,89.40
3,EXPENDITURE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Consumption of Raw Materials,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [74]:
type_1 = df.iloc[0,9]
print(type_1)
print(__builtins__.type(type_1))

84.08
<class 'str'>

In [75]:
df.iloc[0:, 1:] = df.iloc[0:, 1:].replace({',': ''}, regex=True).astype(float)
df

,Quarterly Results of 3i Infotech(in Rs. Cr.),Sep '13,Dec '13,Mar '14,Jun '14,Sep '14,Dec '14,Mar '15,Jun '15,Sep '15,...,Jun '22,Sep '22,Dec '22,Mar '23,Jun '23,Sep '23,Dec '23,Mar '24,Jun '24,Sep '24
0,Net Sales/Income from operations,78.26,90.95,79.08,93.17,108.29,105.8,93.46,81.77,84.08,...,62.58,68.62,69.65,75.4,82.78,91.07,91.64,91.83,89.77,89.4
1,Other Operating Income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Total Income From Operations,78.26,90.95,79.08,93.17,108.29,105.8,93.46,81.77,84.08,...,62.58,68.62,69.65,75.4,82.78,91.07,91.64,91.83,89.77,89.4
3,EXPENDITURE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Consumption of Raw Materials,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Purchase of Traded Goods,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Increase/Decrease in Stocks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Power & Fuel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Employees Cost,38.63,43.95,41.18,43.9,42.54,40.21,25.21,38.57,32.35,...,32.91,42.39,36.91,36.16,37.48,46.58,48.66,52.08,52.28,50.49
9,depreciat,55.44,67.07,57.31,58.04,52.49,55.05,57.31,51.51,51.9,...,4.49,4.5,7.18,5.03,5.02,6.52,6.29,6.98,6.11,6.46
10,Excise Duty,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Admin. And Selling Expenses,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,R & D Expenses,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Provisions And Contingencies,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Exp. Capitalised,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Other Expenses,27.47,30.53,27.76,41.54,61.74,78.29,-2.67,46.3,68.69,...,4.88,7.04,4.22,56.15,51.41,152.21,257.95,84.15,40.06,18.72
16,"P/L Before Other Inc. , Int., Excpt. Items & Tax",-43.28,-50.6,-47.17,-50.31,-48.48,-67.75,13.61,-54.61,-68.86,...,20.3,14.69,21.34,-21.94,-11.13,-114.24,-221.26,-51.38,-8.68,13.73
17,Other Income,21.86,-1.12,10.78,1.39,0.1,0.41,2.14,0.49,0.74,...,3.39,2.19,3.56,3.24,0.9,1.68,2.34,3.55,1.62,1.95
18,"P/L Before Int., Excpt. Items & Tax",-21.42,-51.72,-36.39,-48.92,-48.38,-67.34,15.75,-54.12,-68.12,...,23.69,16.88,24.9,-18.7,-10.23,-112.56,-218.92,-47.83,-7.06,15.68
19,Interest,74.56,87.49,64.37,56.29,52.02,52.03,34.35,47.4,43.79,...,-1.85,2.36,6.49,2.0,2.17,2.22,2.29,2.04,1.94,2.15
20,P/L Before Exceptional Items & Tax,-95.98,-139.21,-100.76,-105.21,-100.4,-119.37,-18.6,-101.52,-111.91,...,25.54,14.52,18.41,-20.7,-12.4,-114.78,-221.21,-49.87,-9.0,13.53
21,Exceptional Items,NaN,NaN,-35.85,NaN,NaN,-329.79,-360.82,NaN,NaN,...,NaN,-7.75,23.09,-0.86,-2.9,NaN,-421.7,4.23,NaN,NaN
22,P/L Before Tax,-95.98,-139.21,-136.61,-105.21,-100.4,-449.16,-379.42,-101.52,-111.91,...,25.54,6.77,41.5,-21.56,-15.3,-114.78,-642.91,-45.64,-9.0,13.53
23,Tax,1.5,0.23,-15.28,NaN,NaN,2.02,21.54,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,P/L After Tax from Ordinary Activities,-97.48,-139.44,-121.33,-105.21,-100.4,-451.18,-400.96,-101.52,-111.91,...,25.54,6.77,41.5,-21.56,-15.3,-114.78,-642.91,-45.64,-9.0,13.53
25,Prior Year Adjustments,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Extra Ordinary Items,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Net Profit/(Loss) For the Period,-97.48,-139.44,-121.33,-105.21,-100.4,-451.18,-400.96,-101.52,-111.91,...,25.54,6.77,41.5,-21.56,-15.3,-114.78,-642.91,-45.64,-9.0,13.53
28,Equity Share Capital,571.94,571.94,572.64,576.34,580.68,586.12,603.75,612.43,612.52,...,168.38,168.39,168.39,168.47,168.47,168.64,168.77,169.23,169.24,169.4
29,Reserves Excluding Revaluation Reserves,NaN,NaN,NaN,NaN,NaN,NaN,-1079.11,-1164.88,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,Equity Dividend Rate (%),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,EPS Before Extra Ordinary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,Basic EPS,-1.79,-2.52,-1.58,-1.92,-1.82,-2.17,-0.76,-1.75,-1.91,...,1.52,0.4,2.46,-1.28,-0.91,-6.81,-38.1,-2.7,-0.53,0.8
33,Diluted EPS,-1.79,-2.52,-1.58,-1.92,-1.82,-2.17,-0.76,-1.75,-1.91,...,1.52,0.05,NaN,-1.28,-0.91,-6.78,-38.1,-2.7,-0.53,0.79
34,EPS After Extra Ordinary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,Basic EPS.,-1.79,-2.52,-2.2,-1.92,-1.82,-7.84,-6.84,-1.75,-1.91,...,1.52,0.4,2.46,-1.28,-0.91,-6.81,-38.1,-2.7,-0.53,0.8
36,Diluted EPS.,-1.79,-2.52,-2.2,-1.92,-1.82,-7.84,-6.84,-1.75,-1.91,...,1.52,0.05,NaN,-1.28,-0.91,-6.78,-38.1,-2.7,-0.53,0.79
37,Public Share Holding,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,No Of Shares (Crores),53.29,53.29,53.36,53.73,54.16,54.71,56.47,57.34,58.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,Share Holding (%),93.17,93.17,93.18,93.22,93.27,93.34,93.53,93.63,95.01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,Promoters and Promoter Group Shareholding,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,a) Pledged/Encumbered,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,- Number of shares (Crores),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,- Per. of shares (as a % of the total sh. of p...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,- Per. of shares (as a % of the total Share Ca...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,b) Non-encumbered,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,- Number of shares (Crores).,3.9,3.9,3.9,3.9,3.9,3.9,3.9,3.9,3.06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,- Per. of shares (as a % of the total sh. of p...,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,- Per. of shares (as a % of the total Share Ca...,6.83,6.83,6.82,6.76,6.73,6.66,6.47,6.37,4.99,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [76]:
type_1 = df.iloc[0,9]
print(type_1)
print(__builtins__.type(type_1))

84.08
<class 'float'>

In [77]:
missing_value = df.isnull()
missing_value.head(20)
print(missing_value.sum().sum())

1295

In [78]:
for index, row in df.iterrows():
    # Skip the first column (financial term) and check for NaN values in the rest of the row
    nan_count = row[1:].isnull().sum()  # Check for NaN from the second column onward
    total_length = len(row[1:])  # Get the total length of the row (excluding the first column)
    
    if nan_count > 0:
        print(f"\n Financial Term: {row[0]} - NaN values: {nan_count} out of {total_length} columns")

for column in missing_value.columns.values.tolist():
    # print(column)
    print(missing_value[column].value_counts())
    print("")

 Financial Term: Other Operating Income - NaN values: 45 out of 45 columns

 Financial Term: EXPENDITURE - NaN values: 45 out of 45 columns

 Financial Term: Consumption of Raw Materials - NaN values: 45 out of 45 columns

 Financial Term: Purchase of Traded Goods - NaN values: 45 out of 45 columns

 Financial Term: Increase/Decrease in Stocks - NaN values: 45 out of 45 columns

 Financial Term: Power & Fuel - NaN values: 45 out of 45 columns

 Financial Term: Excise Duty - NaN values: 45 out of 45 columns

 Financial Term: Admin. And Selling Expenses - NaN values: 45 out of 45 columns

 Financial Term: R & D Expenses - NaN values: 45 out of 45 columns

 Financial Term: Provisions And Contingencies - NaN values: 45 out of 45 columns

 Financial Term: Exp. Capitalised - NaN values: 45 out of 45 columns

 Financial Term: Exceptional Items - NaN values: 14 out of 45 columns

 Financial Term: Tax - NaN values: 32 out of 45 columns

 Financial Term: Prior Year Adjustments - NaN values: 45 out of 45 columns

 Financial Term: Extra Ordinary Items - NaN values: 34 out of 45 columns

 Financial Term: Reserves Excluding Revaluation Reserves - NaN values: 43 out of 45 columns

 Financial Term: Equity Dividend Rate (%) - NaN values: 45 out of 45 columns

 Financial Term: EPS Before Extra Ordinary - NaN values: 45 out of 45 columns

 Financial Term: Diluted EPS - NaN values: 1 out of 45 columns

 Financial Term: EPS After Extra Ordinary - NaN values: 45 out of 45 columns

 Financial Term: Diluted EPS. - NaN values: 1 out of 45 columns

 Financial Term: Public Share Holding - NaN values: 45 out of 45 columns

 Financial Term: No Of Shares (Crores) - NaN values: 36 out of 45 columns

 Financial Term: Share Holding (%) - NaN values: 36 out of 45 columns

 Financial Term: Promoters and Promoter Group Shareholding - NaN values: 45 out of 45 columns

 Financial Term: a) Pledged/Encumbered - NaN values: 45 out of 45 columns

 Financial Term: - Number of shares (Crores) - NaN values: 45 out of 45 columns

 Financial Term: - Per. of shares (as a % of the total sh. of prom. and promoter group) - NaN values: 45 out of 45 columns

 Financial Term: - Per. of shares (as a % of the total Share Cap. of the company) - NaN values: 45 out of 45 columns

 Financial Term: b) Non-encumbered - NaN values: 45 out of 45 columns

 Financial Term: - Number of shares (Crores). - NaN values: 36 out of 45 columns

 Financial Term: - Per. of shares (as a % of the total sh. of prom. and promoter group). - NaN values: 36 out of 45 columns

 Financial Term: - Per. of shares (as a % of the total Share Cap. of the company). - NaN values: 36 out of 45 columns
Quarterly Results of 3i Infotech(in Rs. Cr.)
False    49
Name: count, dtype: int64

Sep '13
True     25
False    24
Name: count, dtype: int64

Dec '13
True     25
False    24
Name: count, dtype: int64

Mar '14
False    25
True     24
Name: count, dtype: int64

Jun '14
True     26
False    23
Name: count, dtype: int64

Sep '14
True     26
False    23
Name: count, dtype: int64

Dec '14
False    25
True     24
Name: count, dtype: int64

Mar '15
False    26
True     23
Name: count, dtype: int64

Jun '15
True     25
False    24
Name: count, dtype: int64

Sep '15
True     26
False    23
Name: count, dtype: int64

Dec '15
True     31
False    18
Name: count, dtype: int64

Mar '16
True     29
False    20
Name: count, dtype: int64

Jun '16
True     31
False    18
Name: count, dtype: int64

Sep '16
True     30
False    19
Name: count, dtype: int64

Dec '16
True     31
False    18
Name: count, dtype: int64

Mar '17
True     29
False    20
Name: count, dtype: int64

Jun '17
True     29
False    20
Name: count, dtype: int64

Sep '17
True     29
False    20
Name: count, dtype: int64

Dec '17
True     29
False    20
Name: count, dtype: int64

Mar '18
True     29
False    20
Name: count, dtype: int64

Jun '18
True     29
False    20
Name: count, dtype: int64

Sep '18
True     29
False    20
Name: count, dtype: int64

Dec '18
True     29
False    20
Name: count, dtype: int64

Mar '19
True     29
False    20
Name: count, dtype: int64

Jun '19
True     29
False    20
Name: count, dtype: int64

Sep '19
True     29
False    20
Name: count, dtype: int64

Dec '19
True     30
False    19
Name: count, dtype: int64

Mar '20
True     29
False    20
Name: count, dtype: int64

Jun '20
True     29
False    20
Name: count, dtype: int64

Sep '20
True     29
False    20
Name: count, dtype: int64

Dec '20
True     29
False    20
Name: count, dtype: int64

Mar '21
True     28
False    21
Name: count, dtype: int64

Jun '21
True     30
False    19
Name: count, dtype: int64

Sep '21
True     30
False    19
Name: count, dtype: int64

Dec '21
True     30
False    19
Name: count, dtype: int64

Mar '22
True     30
False    19
Name: count, dtype: int64

Jun '22
True     31
False    18
Name: count, dtype: int64

Sep '22
True     30
False    19
Name: count, dtype: int64

Dec '22
True     32
False    17
Name: count, dtype: int64

Mar '23
True     30
False    19
Name: count, dtype: int64

Jun '23
True     30
False    19
Name: count, dtype: int64

Sep '23
True     31
False    18
Name: count, dtype: int64

Dec '23
True     30
False    19
Name: count, dtype: int64

Mar '24
True     30
False    19
Name: count, dtype: int64

Jun '24
True     31
False    18
Name: count, dtype: int64

Sep '24
True     31
False    18
Name: count, dtype: int64

C:\Users\rayya\AppData\Local\Temp\ipykernel_19020\4023745635.py:7: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(f"\n Financial Term: {row[0]} - NaN values: {nan_count} out of {total_length} columns")

In [79]:
high_null_values = []
less_null_values = []

# Iterate through each row (excluding the first column, which contains the row names)
for index, row in df.iterrows():
    # Count the number of null values in the row (excluding the 0th column)
    null_count = row[1:].isnull().sum()
    total_columns = len(row) - 1  # Exclude the first column (financial term) in the count
    
    # Check if more than half of the values are null
    if null_count > total_columns / 2:
        high_null_values.append(row[0])  # Add the row name (0th column) to high_null_values list
    elif 1 <= null_count <= total_columns / 2:
        less_null_values.append(row[0])  # Add the row name (0th column) to less_null_values list

# Print the results
print("\n Rows with more than half null values:", high_null_values)
print("\n Rows with half or fewer null values:", less_null_values)
print(f"\n Total rows with more than half null values: {len(high_null_values)}")
print(f"\n Total rows with half or fewer null values: {len(less_null_values)}")
print(f"\n Total rows in DataFrame: {len(df)}")

 Rows with more than half null values: ['Other Operating Income', 'EXPENDITURE', 'Consumption of Raw Materials', 'Purchase of Traded Goods', 'Increase/Decrease in Stocks', 'Power & Fuel', 'Excise Duty', 'Admin. And Selling Expenses', 'R & D Expenses', 'Provisions And Contingencies', 'Exp. Capitalised', 'Tax', 'Prior Year Adjustments', 'Extra Ordinary Items', 'Reserves Excluding Revaluation Reserves', 'Equity Dividend Rate (%)', 'EPS Before Extra Ordinary', 'EPS After Extra Ordinary', 'Public Share Holding', 'No Of Shares (Crores)', 'Share Holding (%)', 'Promoters and Promoter Group Shareholding', 'a) Pledged/Encumbered', '- Number of shares (Crores)', '- Per. of shares (as a % of the total sh. of prom. and promoter group)', '- Per. of shares (as a % of the total Share Cap. of the company)', 'b) Non-encumbered', '- Number of shares (Crores).', '- Per. of shares (as a % of the total sh. of prom. and promoter group).', '- Per. of shares (as a % of the total Share Cap. of the company).']

 Rows with half or fewer null values: ['Exceptional Items', 'Diluted EPS', 'Diluted EPS.']

 Total rows with more than half null values: 30

 Total rows with half or fewer null values: 3

 Total rows in DataFrame: 49

C:\Users\rayya\AppData\Local\Temp\ipykernel_19020\2772172917.py:12: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  high_null_values.append(row[0])  # Add the row name (0th column) to high_null_values list
C:\Users\rayya\AppData\Local\Temp\ipykernel_19020\2772172917.py:14: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  less_null_values.append(row[0])  # Add the row name (0th column) to less_null_values list

In [80]:
# Iterate through the DataFrame and delete rows with names in high_null_values
df_cleaned = df[~df.iloc[:, 0].isin(high_null_values)]

# Reset the row index after removing the rows
df_cleaned = df_cleaned.reset_index(drop=True)
df = df_cleaned
df_cleaned.to_excel(new_output_path, index=False)

# Print the cleaned DataFrame
print(df_cleaned)
df.to_excel(new_output_path, index=False)# Iterate through the DataFrame and delete rows with names in high_null_values
df_cleaned = df[~df.iloc[:, 0].isin(high_null_values)]

# Reset the row index after removing the rows
df_cleaned = df_cleaned.reset_index(drop=True)
df = df_cleaned
df_cleaned.to_excel(new_output_path, index=False)

# Print the cleaned DataFrame
print(df_cleaned)
df.to_excel(new_output_path, index=False)

        Quarterly Results of 3i Infotech(in Rs. Cr.) Sep '13 Dec '13 Mar '14  \
0                   Net Sales/Income from operations   78.26   90.95   79.08
1                       Total Income From Operations   78.26   90.95   79.08
2                                     Employees Cost   38.63   43.95   41.18
3                                          depreciat   55.44   67.07   57.31
4                                     Other Expenses   27.47   30.53   27.76
5   P/L Before Other Inc. , Int., Excpt. Items & Tax  -43.28   -50.6  -47.17
6                                       Other Income   21.86   -1.12   10.78
7                P/L Before Int., Excpt. Items & Tax  -21.42  -51.72  -36.39
8                                           Interest   74.56   87.49   64.37
9                 P/L Before Exceptional Items & Tax  -95.98 -139.21 -100.76
10                                 Exceptional Items     NaN     NaN  -35.85
11                                    P/L Before Tax  -95.98 -139.21 -136.61
12            P/L After Tax from Ordinary Activities  -97.48 -139.44 -121.33
13                  Net Profit/(Loss) For the Period  -97.48 -139.44 -121.33
14                              Equity Share Capital  571.94  571.94  572.64
15                                         Basic EPS   -1.79   -2.52   -1.58
16                                       Diluted EPS   -1.79   -2.52   -1.58
17                                        Basic EPS.   -1.79   -2.52    -2.2
18                                      Diluted EPS.   -1.79   -2.52    -2.2

   Jun '14 Sep '14 Dec '14 Mar '15 Jun '15 Sep '15  ... Jun '22 Sep '22  \
0    93.17  108.29   105.8   93.46   81.77   84.08  ...   62.58   68.62
1    93.17  108.29   105.8   93.46   81.77   84.08  ...   62.58   68.62
2     43.9   42.54   40.21   25.21   38.57   32.35  ...   32.91   42.39
3    58.04   52.49   55.05   57.31   51.51    51.9  ...    4.49     4.5
4    41.54   61.74   78.29   -2.67    46.3   68.69  ...    4.88    7.04
5   -50.31  -48.48  -67.75   13.61  -54.61  -68.86  ...    20.3   14.69
6     1.39     0.1    0.41    2.14    0.49    0.74  ...    3.39    2.19
7   -48.92  -48.38  -67.34   15.75  -54.12  -68.12  ...   23.69   16.88
8    56.29   52.02   52.03   34.35    47.4   43.79  ...   -1.85    2.36
9  -105.21  -100.4 -119.37   -18.6 -101.52 -111.91  ...   25.54   14.52
10     NaN     NaN -329.79 -360.82     NaN     NaN  ...     NaN   -7.75
11 -105.21  -100.4 -449.16 -379.42 -101.52 -111.91  ...   25.54    6.77
12 -105.21  -100.4 -451.18 -400.96 -101.52 -111.91  ...   25.54    6.77
13 -105.21  -100.4 -451.18 -400.96 -101.52 -111.91  ...   25.54    6.77
14  576.34  580.68  586.12  603.75  612.43  612.52  ...  168.38  168.39
15   -1.92   -1.82   -2.17   -0.76   -1.75   -1.91  ...    1.52     0.4
16   -1.92   -1.82   -2.17   -0.76   -1.75   -1.91  ...    1.52    0.05
17   -1.92   -1.82   -7.84   -6.84   -1.75   -1.91  ...    1.52     0.4
18   -1.92   -1.82   -7.84   -6.84   -1.75   -1.91  ...    1.52    0.05

   Dec '22 Mar '23 Jun '23 Sep '23 Dec '23 Mar '24 Jun '24 Sep '24
0    69.65    75.4   82.78   91.07   91.64   91.83   89.77    89.4
1    69.65    75.4   82.78   91.07   91.64   91.83   89.77    89.4
2    36.91   36.16   37.48   46.58   48.66   52.08   52.28   50.49
3     7.18    5.03    5.02    6.52    6.29    6.98    6.11    6.46
4     4.22   56.15   51.41  152.21  257.95   84.15   40.06   18.72
5    21.34  -21.94  -11.13 -114.24 -221.26  -51.38   -8.68   13.73
6     3.56    3.24     0.9    1.68    2.34    3.55    1.62    1.95
7     24.9   -18.7  -10.23 -112.56 -218.92  -47.83   -7.06   15.68
8     6.49     2.0    2.17    2.22    2.29    2.04    1.94    2.15
9    18.41   -20.7   -12.4 -114.78 -221.21  -49.87    -9.0   13.53
10   23.09   -0.86    -2.9     NaN  -421.7    4.23     NaN     NaN
11    41.5  -21.56   -15.3 -114.78 -642.91  -45.64    -9.0   13.53
12    41.5  -21.56   -15.3 -114.78 -642.91  -45.64    -9.0   13.53
13    41.5  -21.56   -15.3 -114.78 -642.91  -45.64    -9.0   13.53
14  168.39  168.47  168.47  168.64  168.77  169.23  169.24   169.4
15    2.46   -1.28   -0.91   -6.81   -38.1    -2.7   -0.53     0.8
16     NaN   -1.28   -0.91   -6.78   -38.1    -2.7   -0.53    0.79
17    2.46   -1.28   -0.91   -6.81   -38.1    -2.7   -0.53     0.8
18     NaN   -1.28   -0.91   -6.78   -38.1    -2.7   -0.53    0.79

[19 rows x 46 columns]
        Quarterly Results of 3i Infotech(in Rs. Cr.) Sep '13 Dec '13 Mar '14  \
0                   Net Sales/Income from operations   78.26   90.95   79.08
1                       Total Income From Operations   78.26   90.95   79.08
2                                     Employees Cost   38.63   43.95   41.18
3                                          depreciat   55.44   67.07   57.31
4                                     Other Expenses   27.47   30.53   27.76
5   P/L Before Other Inc. , Int., Excpt. Items & Tax  -43.28   -50.6  -47.17
6                                       Other Income   21.86   -1.12   10.78
7                P/L Before Int., Excpt. Items & Tax  -21.42  -51.72  -36.39
8                                           Interest   74.56   87.49   64.37
9                 P/L Before Exceptional Items & Tax  -95.98 -139.21 -100.76
10                                 Exceptional Items     NaN     NaN  -35.85
11                                    P/L Before Tax  -95.98 -139.21 -136.61
12            P/L After Tax from Ordinary Activities  -97.48 -139.44 -121.33
13                  Net Profit/(Loss) For the Period  -97.48 -139.44 -121.33
14                              Equity Share Capital  571.94  571.94  572.64
15                                         Basic EPS   -1.79   -2.52   -1.58
16                                       Diluted EPS   -1.79   -2.52   -1.58
17                                        Basic EPS.   -1.79   -2.52    -2.2
18                                      Diluted EPS.   -1.79   -2.52    -2.2

   Jun '14 Sep '14 Dec '14 Mar '15 Jun '15 Sep '15  ... Jun '22 Sep '22  \
0    93.17  108.29   105.8   93.46   81.77   84.08  ...   62.58   68.62
1    93.17  108.29   105.8   93.46   81.77   84.08  ...   62.58   68.62
2     43.9   42.54   40.21   25.21   38.57   32.35  ...   32.91   42.39
3    58.04   52.49   55.05   57.31   51.51    51.9  ...    4.49     4.5
4    41.54   61.74   78.29   -2.67    46.3   68.69  ...    4.88    7.04
5   -50.31  -48.48  -67.75   13.61  -54.61  -68.86  ...    20.3   14.69
6     1.39     0.1    0.41    2.14    0.49    0.74  ...    3.39    2.19
7   -48.92  -48.38  -67.34   15.75  -54.12  -68.12  ...   23.69   16.88
8    56.29   52.02   52.03   34.35    47.4   43.79  ...   -1.85    2.36
9  -105.21  -100.4 -119.37   -18.6 -101.52 -111.91  ...   25.54   14.52
10     NaN     NaN -329.79 -360.82     NaN     NaN  ...     NaN   -7.75
11 -105.21  -100.4 -449.16 -379.42 -101.52 -111.91  ...   25.54    6.77
12 -105.21  -100.4 -451.18 -400.96 -101.52 -111.91  ...   25.54    6.77
13 -105.21  -100.4 -451.18 -400.96 -101.52 -111.91  ...   25.54    6.77
14  576.34  580.68  586.12  603.75  612.43  612.52  ...  168.38  168.39
15   -1.92   -1.82   -2.17   -0.76   -1.75   -1.91  ...    1.52     0.4
16   -1.92   -1.82   -2.17   -0.76   -1.75   -1.91  ...    1.52    0.05
17   -1.92   -1.82   -7.84   -6.84   -1.75   -1.91  ...    1.52     0.4
18   -1.92   -1.82   -7.84   -6.84   -1.75   -1.91  ...    1.52    0.05

   Dec '22 Mar '23 Jun '23 Sep '23 Dec '23 Mar '24 Jun '24 Sep '24
0    69.65    75.4   82.78   91.07   91.64   91.83   89.77    89.4
1    69.65    75.4   82.78   91.07   91.64   91.83   89.77    89.4
2    36.91   36.16   37.48   46.58   48.66   52.08   52.28   50.49
3     7.18    5.03    5.02    6.52    6.29    6.98    6.11    6.46
4     4.22   56.15   51.41  152.21  257.95   84.15   40.06   18.72
5    21.34  -21.94  -11.13 -114.24 -221.26  -51.38   -8.68   13.73
6     3.56    3.24     0.9    1.68    2.34    3.55    1.62    1.95
7     24.9   -18.7  -10.23 -112.56 -218.92  -47.83   -7.06   15.68
8     6.49     2.0    2.17    2.22    2.29    2.04    1.94    2.15
9    18.41   -20.7   -12.4 -114.78 -221.21  -49.87    -9.0   13.53
10   23.09   -0.86    -2.9     NaN  -421.7    4.23     NaN     NaN
11    41.5  -21.56   -15.3 -114.78 -642.91  -45.64    -9.0   13.53
12    41.5  -21.56   -15.3 -114.78 -642.91  -45.64    -9.0   13.53
13    41.5  -21.56   -15.3 -114.78 -642.91  -45.64    -9.0   13.53
14  168.39  168.47  168.47  168.64  168.77  169.23  169.24   169.4
15    2.46   -1.28   -0.91   -6.81   -38.1    -2.7   -0.53     0.8
16     NaN   -1.28   -0.91   -6.78   -38.1    -2.7   -0.53    0.79
17    2.46   -1.28   -0.91   -6.81   -38.1    -2.7   -0.53     0.8
18     NaN   -1.28   -0.91   -6.78   -38.1    -2.7   -0.53    0.79

[19 rows x 46 columns]

In [81]:
df.head(5)

,Quarterly Results of 3i Infotech(in Rs. Cr.),Sep '13,Dec '13,Mar '14,Jun '14,Sep '14,Dec '14,Mar '15,Jun '15,Sep '15,...,Jun '22,Sep '22,Dec '22,Mar '23,Jun '23,Sep '23,Dec '23,Mar '24,Jun '24,Sep '24
0,Net Sales/Income from operations,78.26,90.95,79.08,93.17,108.29,105.8,93.46,81.77,84.08,...,62.58,68.62,69.65,75.4,82.78,91.07,91.64,91.83,89.77,89.4
1,Total Income From Operations,78.26,90.95,79.08,93.17,108.29,105.8,93.46,81.77,84.08,...,62.58,68.62,69.65,75.4,82.78,91.07,91.64,91.83,89.77,89.4
2,Employees Cost,38.63,43.95,41.18,43.9,42.54,40.21,25.21,38.57,32.35,...,32.91,42.39,36.91,36.16,37.48,46.58,48.66,52.08,52.28,50.49
3,depreciat,55.44,67.07,57.31,58.04,52.49,55.05,57.31,51.51,51.9,...,4.49,4.5,7.18,5.03,5.02,6.52,6.29,6.98,6.11,6.46
4,Other Expenses,27.47,30.53,27.76,41.54,61.74,78.29,-2.67,46.3,68.69,...,4.88,7.04,4.22,56.15,51.41,152.21,257.95,84.15,40.06,18.72

In [82]:
df_transposed = df.T

# Reset index to move old headers into the first column
df_transposed.reset_index(inplace=True)

# Set the first row as the new column headers
df_transposed.columns = df_transposed.iloc[0]
df_transposed = df_transposed[1:]

# Rename the first column
df_transposed.rename(columns={df_transposed.columns[0]: "Quarter"}, inplace=True)
df = df_transposed
df.to_excel(new_output_path, index=False)
df_transposed.head(5)

,Quarter,Net Sales/Income from operations,Total Income From Operations,Employees Cost,depreciat,Other Expenses,"P/L Before Other Inc. , Int., Excpt. Items & Tax",Other Income,"P/L Before Int., Excpt. Items & Tax",Interest,P/L Before Exceptional Items & Tax,Exceptional Items,P/L Before Tax,P/L After Tax from Ordinary Activities,Net Profit/(Loss) For the Period,Equity Share Capital,Basic EPS,Diluted EPS,Basic EPS.,Diluted EPS.
1,Sep '13,78.26,78.26,38.63,55.44,27.47,-43.28,21.86,-21.42,74.56,-95.98,NaN,-95.98,-97.48,-97.48,571.94,-1.79,-1.79,-1.79,-1.79
2,Dec '13,90.95,90.95,43.95,67.07,30.53,-50.6,-1.12,-51.72,87.49,-139.21,NaN,-139.21,-139.44,-139.44,571.94,-2.52,-2.52,-2.52,-2.52
3,Mar '14,79.08,79.08,41.18,57.31,27.76,-47.17,10.78,-36.39,64.37,-100.76,-35.85,-136.61,-121.33,-121.33,572.64,-1.58,-1.58,-2.2,-2.2
4,Jun '14,93.17,93.17,43.9,58.04,41.54,-50.31,1.39,-48.92,56.29,-105.21,NaN,-105.21,-105.21,-105.21,576.34,-1.92,-1.92,-1.92,-1.92
5,Sep '14,108.29,108.29,42.54,52.49,61.74,-48.48,0.1,-48.38,52.02,-100.4,NaN,-100.4,-100.4,-100.4,580.68,-1.82,-1.82,-1.82,-1.82

In [83]:

print(df_transposed.iloc[0].values)

["Sep '13" 78.26 78.26 38.63 55.44 27.47 -43.28 21.86 -21.42 74.56 -95.98
 nan -95.98 -97.48 -97.48 571.94 -1.79 -1.79 -1.79 -1.79]

In [84]:
missing_value = df.isnull()
print("\n\n Missing Values:- ",missing_value.tail(20))

 Missing Values:-  0   Quarter  Net Sales/Income from operations  Total Income From Operations  \
26    False                             False                         False
27    False                             False                         False
28    False                             False                         False
29    False                             False                         False
30    False                             False                         False
31    False                             False                         False
32    False                             False                         False
33    False                             False                         False
34    False                             False                         False
35    False                             False                         False
36    False                             False                         False
37    False                             False                         False
38    False                             False                         False
39    False                             False                         False
40    False                             False                         False
41    False                             False                         False
42    False                             False                         False
43    False                             False                         False
44    False                             False                         False
45    False                             False                         False

0   Employees Cost  depreciat  Other Expenses  \
26           False      False           False
27           False      False           False
28           False      False           False
29           False      False           False
30           False      False           False
31           False      False           False
32           False      False           False
33           False      False           False
34           False      False           False
35           False      False           False
36           False      False           False
37           False      False           False
38           False      False           False
39           False      False           False
40           False      False           False
41           False      False           False
42           False      False           False
43           False      False           False
44           False      False           False
45           False      False           False

0   P/L Before Other Inc. , Int., Excpt. Items & Tax  Other Income  \
26                                             False         False
27                                             False         False
28                                             False         False
29                                             False         False
30                                             False         False
31                                             False         False
32                                             False         False
33                                             False         False
34                                             False         False
35                                             False         False
36                                             False         False
37                                             False         False
38                                             False         False
39                                             False         False
40                                             False         False
41                                             False         False
42                                             False         False
43                                             False         False
44                                             False         False
45                                             False         False

0   P/L Before Int., Excpt. Items & Tax  Interest  \
26                                False     False
27                                False     False
28                                False     False
29                                False     False
30                                False     False
31                                False     False
32                                False     False
33                                False     False
34                                False     False
35                                False     False
36                                False     False
37                                False     False
38                                False     False
39                                False     False
40                                False     False
41                                False     False
42                                False     False
43                                False     False
44                                False     False
45                                False     False

0   P/L Before Exceptional Items & Tax  Exceptional Items  P/L Before Tax  \
26                               False              False           False
27                               False              False           False
28                               False              False           False
29                               False              False           False
30                               False              False           False
31                               False              False           False
32                               False              False           False
33                               False              False           False
34                               False              False           False
35                               False              False           False
36                               False               True           False
37                               False              False           False
38                               False              False           False
39                               False              False           False
40                               False              False           False
41                               False               True           False
42                               False              False           False
43                               False              False           False
44                               False               True           False
45                               False               True           False

0   P/L After Tax from Ordinary Activities  Net Profit/(Loss) For the Period  \
26                                   False                             False
27                                   False                             False
28                                   False                             False
29                                   False                             False
30                                   False                             False
31                                   False                             False
32                                   False                             False
33                                   False                             False
34                                   False                             False
35                                   False                             False
36                                   False                             False
37                                   False                             False
38                                   False                             False
39                                   False                             False
40                                   False                             False
41                                   False                             False
42                                   False                             False
43                                   False                             False
44                                   False                             False
45                                   False                             False

0   Equity Share Capital  Basic EPS  Diluted EPS  Basic EPS.  Diluted EPS.
26                 False      False        False       False         False
27                 False      False        False       False         False
28                 False      False        False       False         False
29                 False      False        False       False         False
30                 False      False        False       False         False
31                 False      False        False       False         False
32                 False      False        False       False         False
33                 False      False        False       False         False
34                 False      False        False       False         False
35                 False      False        False       False         False
36                 False      False        False       False         False
37                 False      False        False       False         False
38                 False      False         True       False          True
39                 False      False        False       False         False
40                 False      False        False       False         False
41                 False      False        False       False         False
42                 False      False        False       False         False
43                 False      False        False       False         False
44                 False      False        False       False         False
45                 False      False        False       False         False

In [85]:
for column in missing_value.columns.values.tolist():
    # print(column)
    print(missing_value[column].value_counts())
    print("")

Quarter
False    45
Name: count, dtype: int64

Net Sales/Income from operations
False    45
Name: count, dtype: int64

Total Income From Operations
False    45
Name: count, dtype: int64

Employees Cost
False    45
Name: count, dtype: int64

depreciat
False    45
Name: count, dtype: int64

Other Expenses
False    45
Name: count, dtype: int64

P/L Before Other Inc. , Int., Excpt. Items & Tax
False    45
Name: count, dtype: int64

Other Income
False    45
Name: count, dtype: int64

P/L Before Int., Excpt. Items & Tax
False    45
Name: count, dtype: int64

Interest
False    45
Name: count, dtype: int64

P/L Before Exceptional Items & Tax
False    45
Name: count, dtype: int64

Exceptional Items
False    31
True     14
Name: count, dtype: int64

P/L Before Tax
False    45
Name: count, dtype: int64

P/L After Tax from Ordinary Activities
False    45
Name: count, dtype: int64

Net Profit/(Loss) For the Period
False    45
Name: count, dtype: int64

Equity Share Capital
False    45
Name: count, dtype: int64

Basic EPS
False    45
Name: count, dtype: int64

Diluted EPS
False    44
True      1
Name: count, dtype: int64

Basic EPS.
False    45
Name: count, dtype: int64

Diluted EPS.
False    44
True      1
Name: count, dtype: int64

In [86]:
print(missing_value.sum().sum())

16

In [87]:
df.columns

Index(['Quarter', 'Net Sales/Income from operations',
       'Total Income From Operations', 'Employees Cost', 'depreciat',
       'Other Expenses', 'P/L Before Other Inc. , Int., Excpt. Items & Tax',
       'Other Income', 'P/L Before Int., Excpt. Items & Tax', 'Interest',
       'P/L Before Exceptional Items & Tax', 'Exceptional Items',
       'P/L Before Tax', 'P/L After Tax from Ordinary Activities',
       'Net Profit/(Loss) For the Period', 'Equity Share Capital', 'Basic EPS',
       'Diluted EPS', 'Basic EPS.', 'Diluted EPS.'],
      dtype='object', name=0)

In [88]:
df[0:]

,Quarter,Net Sales/Income from operations,Total Income From Operations,Employees Cost,depreciat,Other Expenses,"P/L Before Other Inc. , Int., Excpt. Items & Tax",Other Income,"P/L Before Int., Excpt. Items & Tax",Interest,P/L Before Exceptional Items & Tax,Exceptional Items,P/L Before Tax,P/L After Tax from Ordinary Activities,Net Profit/(Loss) For the Period,Equity Share Capital,Basic EPS,Diluted EPS,Basic EPS.,Diluted EPS.
1,Sep '13,78.26,78.26,38.63,55.44,27.47,-43.28,21.86,-21.42,74.56,-95.98,NaN,-95.98,-97.48,-97.48,571.94,-1.79,-1.79,-1.79,-1.79
2,Dec '13,90.95,90.95,43.95,67.07,30.53,-50.6,-1.12,-51.72,87.49,-139.21,NaN,-139.21,-139.44,-139.44,571.94,-2.52,-2.52,-2.52,-2.52
3,Mar '14,79.08,79.08,41.18,57.31,27.76,-47.17,10.78,-36.39,64.37,-100.76,-35.85,-136.61,-121.33,-121.33,572.64,-1.58,-1.58,-2.2,-2.2
4,Jun '14,93.17,93.17,43.9,58.04,41.54,-50.31,1.39,-48.92,56.29,-105.21,NaN,-105.21,-105.21,-105.21,576.34,-1.92,-1.92,-1.92,-1.92
5,Sep '14,108.29,108.29,42.54,52.49,61.74,-48.48,0.1,-48.38,52.02,-100.4,NaN,-100.4,-100.4,-100.4,580.68,-1.82,-1.82,-1.82,-1.82
6,Dec '14,105.8,105.8,40.21,55.05,78.29,-67.75,0.41,-67.34,52.03,-119.37,-329.79,-449.16,-451.18,-451.18,586.12,-2.17,-2.17,-7.84,-7.84
7,Mar '15,93.46,93.46,25.21,57.31,-2.67,13.61,2.14,15.75,34.35,-18.6,-360.82,-379.42,-400.96,-400.96,603.75,-0.76,-0.76,-6.84,-6.84
8,Jun '15,81.77,81.77,38.57,51.51,46.3,-54.61,0.49,-54.12,47.4,-101.52,NaN,-101.52,-101.52,-101.52,612.43,-1.75,-1.75,-1.75,-1.75
9,Sep '15,84.08,84.08,32.35,51.9,68.69,-68.86,0.74,-68.12,43.79,-111.91,NaN,-111.91,-111.91,-111.91,612.52,-1.91,-1.91,-1.91,-1.91
10,Dec '15,79.54,79.54,22.27,52.22,23.61,-18.56,43.2,24.64,42.29,-17.65,NaN,-17.65,-17.65,-17.65,636.19,-0.36,-0.36,-0.36,-0.36
11,Mar '16,84.85,84.85,17.56,55.0,15.03,-2.74,2.02,-0.72,6.68,-7.4,-698.03,-705.43,-832.58,-832.58,640.8,-2.1,-2.1,-2.1,-2.1
12,Jun '16,81.33,81.33,39.75,2.29,17.57,21.72,16.7,38.42,22.91,15.51,NaN,15.51,15.51,15.51,640.8,0.24,0.24,0.24,0.24
13,Sep '16,55.93,55.93,24.61,1.54,9.21,20.57,15.05,35.62,21.18,14.44,NaN,14.44,14.25,14.25,898.88,0.3,0.15,0.3,0.15
14,Dec '16,64.57,64.57,6.49,1.76,21.2,35.12,44.05,79.17,22.38,56.79,NaN,56.79,56.79,56.79,1047.45,0.52,0.52,0.52,0.52
15,Mar '17,66.99,66.99,19.96,1.71,11.89,33.43,17.32,50.75,20.8,29.95,-25.6,4.35,5.72,5.72,1183.65,0.05,0.05,0.05,0.05
16,Jun '17,55.38,55.38,16.68,1.78,15.53,21.39,9.38,30.77,12.01,18.76,-3.05,15.71,15.71,17.7,1286.0,0.14,0.14,0.14,0.14
17,Sep '17,57.72,57.72,22.5,2.05,162.13,-128.96,2.96,-126.0,12.21,-138.21,12.22,-125.99,-125.99,-130.09,1333.09,-0.99,-0.99,-0.99,-0.99
18,Dec '17,58.12,58.12,14.68,1.7,17.27,24.47,8.25,32.72,12.37,20.35,-18.4,1.95,1.95,-2.1,1334.15,-0.02,-0.02,-0.02,-0.02
19,Mar '18,66.29,66.29,24.08,1.63,18.62,21.96,4.33,26.29,11.44,14.85,17.35,32.2,32.2,27.75,1615.36,0.17,0.17,0.17,0.17
20,Jun '18,58.7,58.7,28.2,1.66,22.54,6.3,8.68,14.98,11.22,3.76,40.47,44.23,44.23,39.54,1615.55,0.24,0.24,0.24,0.24
21,Sep '18,75.67,75.67,17.85,1.68,17.44,38.7,2.51,41.21,10.75,30.46,52.69,83.15,83.15,78.61,1615.91,0.49,0.49,0.49,0.49
22,Dec '18,74.27,74.27,21.67,1.7,19.09,31.81,131.56,163.37,10.87,152.5,-37.76,114.74,114.74,110.25,1616.64,0.68,0.68,0.68,0.68
23,Mar '19,75.28,75.28,20.9,1.78,19.52,33.08,7.02,40.1,9.33,30.77,-3.72,27.05,27.05,22.5,1616.64,0.14,0.14,0.14,0.14
24,Jun '19,74.21,74.21,35.0,3.89,17.87,17.45,3.18,20.63,11.43,9.2,-5.85,3.35,3.35,-2.03,1616.64,-0.01,-0.01,-0.01,-0.01
25,Sep '19,80.98,80.98,30.29,4.06,19.96,26.67,2.23,28.9,11.18,17.72,15.75,33.47,33.47,28.16,1616.64,0.17,0.17,0.17,0.17
26,Dec '19,91.6,91.6,35.2,4.34,26.44,25.62,5.19,30.81,11.09,19.72,10.28,30.0,30.0,30.0,1616.64,0.19,0.22,0.19,0.22
27,Mar '20,91.48,91.48,28.21,4.01,-26.51,85.77,2.12,87.89,10.65,77.24,-5.41,71.83,71.76,71.76,1616.65,0.48,0.48,0.48,0.48
28,Jun '20,81.58,81.58,34.9,4.16,7.97,34.55,5.01,39.56,9.71,29.85,-5.75,24.1,24.04,24.04,1616.65,0.18,0.18,0.18,0.18
29,Sep '20,86.33,86.33,29.24,4.35,37.57,15.17,3.24,18.41,9.97,8.44,-5.67,2.77,2.58,2.58,1616.65,0.05,0.05,0.05,0.05
30,Dec '20,86.72,86.72,28.92,4.33,18.85,34.62,2.72,37.34,9.42,27.92,-8.15,19.77,19.89,19.89,1616.65,0.16,0.16,0.16,0.16
31,Mar '21,52.22,52.22,37.42,2.63,48.8,-36.63,9.13,-27.5,8.35,-35.85,290.51,254.66,254.65,277.91,1616.65,1.61,1.61,1.61,1.61
32,Jun '21,53.1,53.1,22.69,2.45,22.11,5.85,3.73,9.58,1.93,7.65,14.1,21.75,21.75,21.75,1616.65,0.11,0.11,0.11,0.11
33,Sep '21,58.63,58.63,28.07,2.68,46.09,-18.21,4.69,-13.52,2.15,-15.67,3.25,-12.42,-12.42,-12.42,161.67,-0.77,-0.77,-0.77,-0.77
34,Dec '21,46.86,46.86,30.42,3.16,27.48,-14.2,3.27,-10.93,2.23,-13.16,-8.61,-21.77,-21.77,-21.77,165.44,-1.32,-1.32,-1.32,-1.32
35,Mar '22,54.01,54.01,24.11,4.4,20.72,4.78,1.6,6.38,2.45,3.93,16.93,20.86,20.86,20.86,167.94,1.25,1.25,1.25,1.25
36,Jun '22,62.58,62.58,32.91,4.49,4.88,20.3,3.39,23.69,-1.85,25.54,NaN,25.54,25.54,25.54,168.38,1.52,1.52,1.52,1.52
37,Sep '22,68.62,68.62,42.39,4.5,7.04,14.69,2.19,16.88,2.36,14.52,-7.75,6.77,6.77,6.77,168.39,0.4,0.05,0.4,0.05
38,Dec '22,69.65,69.65,36.91,7.18,4.22,21.34,3.56,24.9,6.49,18.41,23.09,41.5,41.5,41.5,168.39,2.46,NaN,2.46,NaN
39,Mar '23,75.4,75.4,36.16,5.03,56.15,-21.94,3.24,-18.7,2.0,-20.7,-0.86,-21.56,-21.56,-21.56,168.47,-1.28,-1.28,-1.28,-1.28
40,Jun '23,82.78,82.78,37.48,5.02,51.41,-11.13,0.9,-10.23,2.17,-12.4,-2.9,-15.3,-15.3,-15.3,168.47,-0.91,-0.91,-0.91,-0.91
41,Sep '23,91.07,91.07,46.58,6.52,152.21,-114.24,1.68,-112.56,2.22,-114.78,NaN,-114.78,-114.78,-114.78,168.64,-6.81,-6.78,-6.81,-6.78
42,Dec '23,91.64,91.64,48.66,6.29,257.95,-221.26,2.34,-218.92,2.29,-221.21,-421.7,-642.91,-642.91,-642.91,168.77,-38.1,-38.1,-38.1,-38.1
43,Mar '24,91.83,91.83,52.08,6.98,84.15,-51.38,3.55,-47.83,2.04,-49.87,4.23,-45.64,-45.64,-45.64,169.23,-2.7,-2.7,-2.7,-2.7
44,Jun '24,89.77,89.77,52.28,6.11,40.06,-8.68,1.62,-7.06,1.94,-9.0,NaN,-9.0,-9.0,-9.0,169.24,-0.53,-0.53,-0.53,-0.53
45,Sep '24,89.4,89.4,50.49,6.46,18.72,13.73,1.95,15.68,2.15,13.53,NaN,13.53,13.53,13.53,169.4,0.8,0.79,0.8,0.79

In [90]:
from sklearn.impute import SimpleImputer
df[less_null_values] = df[less_null_values].apply(pd.to_numeric, errors='coerce')

# Initialize the SimpleImputer with the strategy set to 'mean'
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')

# Fit and transform the specified columns
df[less_null_values] = imputer.fit_transform(df[less_null_values])


# Round the values to 2 decimal places
df[less_null_values] = df[less_null_values].round(2)

# Print the updated DataFrame (optional)
print(df)

# Save the updated DataFrame to Excel (optional)
df.to_excel(new_output_path, index=False)

0   Quarter Net Sales/Income from operations Total Income From Operations  \
1   Sep '13                            78.26                        78.26
2   Dec '13                            90.95                        90.95
3   Mar '14                            79.08                        79.08
4   Jun '14                            93.17                        93.17
5   Sep '14                           108.29                       108.29
6   Dec '14                            105.8                        105.8
7   Mar '15                            93.46                        93.46
8   Jun '15                            81.77                        81.77
9   Sep '15                            84.08                        84.08
10  Dec '15                            79.54                        79.54
11  Mar '16                            84.85                        84.85
12  Jun '16                            81.33                        81.33
13  Sep '16                            55.93                        55.93
14  Dec '16                            64.57                        64.57
15  Mar '17                            66.99                        66.99
16  Jun '17                            55.38                        55.38
17  Sep '17                            57.72                        57.72
18  Dec '17                            58.12                        58.12
19  Mar '18                            66.29                        66.29
20  Jun '18                             58.7                         58.7
21  Sep '18                            75.67                        75.67
22  Dec '18                            74.27                        74.27
23  Mar '19                            75.28                        75.28
24  Jun '19                            74.21                        74.21
25  Sep '19                            80.98                        80.98
26  Dec '19                             91.6                         91.6
27  Mar '20                            91.48                        91.48
28  Jun '20                            81.58                        81.58
29  Sep '20                            86.33                        86.33
30  Dec '20                            86.72                        86.72
31  Mar '21                            52.22                        52.22
32  Jun '21                             53.1                         53.1
33  Sep '21                            58.63                        58.63
34  Dec '21                            46.86                        46.86
35  Mar '22                            54.01                        54.01
36  Jun '22                            62.58                        62.58
37  Sep '22                            68.62                        68.62
38  Dec '22                            69.65                        69.65
39  Mar '23                             75.4                         75.4
40  Jun '23                            82.78                        82.78
41  Sep '23                            91.07                        91.07
42  Dec '23                            91.64                        91.64
43  Mar '24                            91.83                        91.83
44  Jun '24                            89.77                        89.77
45  Sep '24                             89.4                         89.4

0  Employees Cost depreciat Other Expenses  \
1           38.63     55.44          27.47
2           43.95     67.07          30.53
3           41.18     57.31          27.76
4            43.9     58.04          41.54
5           42.54     52.49          61.74
6           40.21     55.05          78.29
7           25.21     57.31          -2.67
8           38.57     51.51           46.3
9           32.35      51.9          68.69
10          22.27     52.22          23.61
11          17.56      55.0          15.03
12          39.75      2.29          17.57
13          24.61      1.54           9.21
14           6.49      1.76           21.2
15          19.96      1.71          11.89
16          16.68      1.78          15.53
17           22.5      2.05         162.13
18          14.68       1.7          17.27
19          24.08      1.63          18.62
20           28.2      1.66          22.54
21          17.85      1.68          17.44
22          21.67       1.7          19.09
23           20.9      1.78          19.52
24           35.0      3.89          17.87
25          30.29      4.06          19.96
26           35.2      4.34          26.44
27          28.21      4.01         -26.51
28           34.9      4.16           7.97
29          29.24      4.35          37.57
30          28.92      4.33          18.85
31          37.42      2.63           48.8
32          22.69      2.45          22.11
33          28.07      2.68          46.09
34          30.42      3.16          27.48
35          24.11       4.4          20.72
36          32.91      4.49           4.88
37          42.39       4.5           7.04
38          36.91      7.18           4.22
39          36.16      5.03          56.15
40          37.48      5.02          51.41
41          46.58      6.52         152.21
42          48.66      6.29         257.95
43          52.08      6.98          84.15
44          52.28      6.11          40.06
45          50.49      6.46          18.72

0  P/L Before Other Inc. , Int., Excpt. Items & Tax Other Income  \
1                                            -43.28        21.86
2                                             -50.6        -1.12
3                                            -47.17        10.78
4                                            -50.31         1.39
5                                            -48.48          0.1
6                                            -67.75         0.41
7                                             13.61         2.14
8                                            -54.61         0.49
9                                            -68.86         0.74
10                                           -18.56         43.2
11                                            -2.74         2.02
12                                            21.72         16.7
13                                            20.57        15.05
14                                            35.12        44.05
15                                            33.43        17.32
16                                            21.39         9.38
17                                          -128.96         2.96
18                                            24.47         8.25
19                                            21.96         4.33
20                                              6.3         8.68
21                                             38.7         2.51
22                                            31.81       131.56
23                                            33.08         7.02
24                                            17.45         3.18
25                                            26.67         2.23
26                                            25.62         5.19
27                                            85.77         2.12
28                                            34.55         5.01
29                                            15.17         3.24
30                                            34.62         2.72
31                                           -36.63         9.13
32                                             5.85         3.73
33                                           -18.21         4.69
34                                            -14.2         3.27
35                                             4.78          1.6
36                                             20.3         3.39
37                                            14.69         2.19
38                                            21.34         3.56
39                                           -21.94         3.24
40                                           -11.13          0.9
41                                          -114.24         1.68
42                                          -221.26         2.34
43                                           -51.38         3.55
44                                            -8.68         1.62
45                                            13.73         1.95

0  P/L Before Int., Excpt. Items & Tax Interest  \
1                               -21.42    74.56
2                               -51.72    87.49
3                               -36.39    64.37
4                               -48.92    56.29
5                               -48.38    52.02
6                               -67.34    52.03
7                                15.75    34.35
8                               -54.12     47.4
9                               -68.12    43.79
10                               24.64    42.29
11                               -0.72     6.68
12                               38.42    22.91
13                               35.62    21.18
14                               79.17    22.38
15                               50.75     20.8
16                               30.77    12.01
17                              -126.0    12.21
18                               32.72    12.37
19                               26.29    11.44
20                               14.98    11.22
21                               41.21    10.75
22                              163.37    10.87
23                                40.1     9.33
24                               20.63    11.43
25                                28.9    11.18
26                               30.81    11.09
27                               87.89    10.65
28                               39.56     9.71
29                               18.41     9.97
30                               37.34     9.42
31                               -27.5     8.35
32                                9.58     1.93
33                              -13.52     2.15
34                              -10.93     2.23
35                                6.38     2.45
36                               23.69    -1.85
37                               16.88     2.36
38                                24.9     6.49
39                               -18.7      2.0
40                              -10.23     2.17
41                             -112.56     2.22
42                             -218.92     2.29
43                              -47.83     2.04
44                               -7.06     1.94
45                               15.68     2.15

0  P/L Before Exceptional Items & Tax  Exceptional Items P/L Before Tax  \
1                              -95.98             -47.90         -95.98
2                             -139.21             -47.90        -139.21
3                             -100.76             -35.85        -136.61
4                             -105.21             -47.90        -105.21
5                              -100.4             -47.90         -100.4
6                             -119.37            -329.79        -449.16
7                               -18.6            -360.82        -379.42
8                             -101.52             -47.90        -101.52
9                             -111.91             -47.90        -111.91
10                             -17.65             -47.90         -17.65
11                               -7.4            -698.03        -705.43
12                              15.51             -47.90          15.51
13                              14.44             -47.90          14.44
14                              56.79             -47.90          56.79
15                              29.95             -25.60           4.35
16                              18.76              -3.05          15.71
17                            -138.21              12.22        -125.99
18                              20.35             -18.40           1.95
19                              14.85              17.35           32.2
20                               3.76              40.47          44.23
21                              30.46              52.69          83.15
22                              152.5             -37.76         114.74
23                              30.77              -3.72          27.05
24                                9.2              -5.85           3.35
25                              17.72              15.75          33.47
26                              19.72              10.28           30.0
27                              77.24              -5.41          71.83
28                              29.85              -5.75           24.1
29                               8.44              -5.67           2.77
30                              27.92              -8.15          19.77
31                             -35.85             290.51         254.66
32                               7.65              14.10          21.75
33                             -15.67               3.25         -12.42
34                             -13.16              -8.61         -21.77
35                               3.93              16.93          20.86
36                              25.54             -47.90          25.54
37                              14.52              -7.75           6.77
38                              18.41              23.09           41.5
39                              -20.7              -0.86         -21.56
40                              -12.4              -2.90          -15.3
41                            -114.78             -47.90        -114.78
42                            -221.21            -421.70        -642.91
43                             -49.87               4.23         -45.64
44                               -9.0             -47.90           -9.0
45                              13.53             -47.90          13.53

0  P/L After Tax from Ordinary Activities Net Profit/(Loss) For the Period  \
1                                  -97.48                           -97.48
2                                 -139.44                          -139.44
3                                 -121.33                          -121.33
4                                 -105.21                          -105.21
5                                  -100.4                           -100.4
6                                 -451.18                          -451.18
7                                 -400.96                          -400.96
8                                 -101.52                          -101.52
9                                 -111.91                          -111.91
10                                 -17.65                           -17.65
11                                -832.58                          -832.58
12                                  15.51                            15.51
13                                  14.25                            14.25
14                                  56.79                            56.79
15                                   5.72                             5.72
16                                  15.71                             17.7
17                                -125.99                          -130.09
18                                   1.95                             -2.1
19                                   32.2                            27.75
20                                  44.23                            39.54
21                                  83.15                            78.61
22                                 114.74                           110.25
23                                  27.05                             22.5
24                                   3.35                            -2.03
25                                  33.47                            28.16
26                                   30.0                             30.0
27                                  71.76                            71.76
28                                  24.04                            24.04
29                                   2.58                             2.58
30                                  19.89                            19.89
31                                 254.65                           277.91
32                                  21.75                            21.75
33                                 -12.42                           -12.42
34                                 -21.77                           -21.77
35                                  20.86                            20.86
36                                  25.54                            25.54
37                                   6.77                             6.77
38                                   41.5                             41.5
39                                 -21.56                           -21.56
40                                  -15.3                            -15.3
41                                -114.78                          -114.78
42                                -642.91                          -642.91
43                                 -45.64                           -45.64
44                                   -9.0                             -9.0
45                                  13.53                            13.53

0  Equity Share Capital Basic EPS  Diluted EPS Basic EPS.  Diluted EPS.
1                571.94     -1.79        -1.79      -1.79         -1.79
2                571.94     -2.52        -2.52      -2.52         -2.52
3                572.64     -1.58        -1.58       -2.2         -2.20
4                576.34     -1.92        -1.92      -1.92         -1.92
5                580.68     -1.82        -1.82      -1.82         -1.82
6                586.12     -2.17        -2.17      -7.84         -7.84
7                603.75     -0.76        -0.76      -6.84         -6.84
8                612.43     -1.75        -1.75      -1.75         -1.75
9                612.52     -1.91        -1.91      -1.91         -1.91
10               636.19     -0.36        -0.36      -0.36         -0.36
11                640.8      -2.1        -2.10       -2.1         -2.10
12                640.8      0.24         0.24       0.24          0.24
13               898.88       0.3         0.15        0.3          0.15
14              1047.45      0.52         0.52       0.52          0.52
15              1183.65      0.05         0.05       0.05          0.05
16               1286.0      0.14         0.14       0.14          0.14
17              1333.09     -0.99        -0.99      -0.99         -0.99
18              1334.15     -0.02        -0.02      -0.02         -0.02
19              1615.36      0.17         0.17       0.17          0.17
20              1615.55      0.24         0.24       0.24          0.24
21              1615.91      0.49         0.49       0.49          0.49
22              1616.64      0.68         0.68       0.68          0.68
23              1616.64      0.14         0.14       0.14          0.14
24              1616.64     -0.01        -0.01      -0.01         -0.01
25              1616.64      0.17         0.17       0.17          0.17
26              1616.64      0.19         0.22       0.19          0.22
27              1616.65      0.48         0.48       0.48          0.48
28              1616.65      0.18         0.18       0.18          0.18
29              1616.65      0.05         0.05       0.05          0.05
30              1616.65      0.16         0.16       0.16          0.16
31              1616.65      1.61         1.61       1.61          1.61
32              1616.65      0.11         0.11       0.11          0.11
33               161.67     -0.77        -0.77      -0.77         -0.77
34               165.44     -1.32        -1.32      -1.32         -1.32
35               167.94      1.25         1.25       1.25          1.25